[2014-02-21 04:00] sobolevnrm opened #16 "Convert input format to YAML and front-end to Python"
- Allow better integration with other codes.
- Support more robust input file parsing

![example](https://f.cloud.github.com/assets/1933272/2226716/ac837e84-9aac-11e3-99dd-647fb2de6505.jpg)

[2014-04-22 16:33] sobolevnrm opened #14 "Does APBS 'make test' work on all supported systems?"

[2014-04-22 16:36] sobolevnrm opened #13 "Setup build system to produce static libraries given a CMake option"

[2017-06-08 19:13] ncclementi opened #7 "APBS 1.5 binary installed, doesn't run multiple tthreads!"
I recently download the binary from the 1.5 version and after fixing the LD_LIBRARY_PATH, I was able to run a case. However it doesn't run in multiple threads.
The same input file, runs in multiple thread in a 1.4.1 version I had installed. I tried to install the 1.5 binary in different machines and I always get the same problem. It only runs in 1 thread.

Any ideas on what can be causing this?

F

[2020-02-26 14:38] dvdesolve opened #31 "make doesn't install everything"
I'm trying to install `apbs` on Arch Linux following these steps:
[code]

However, it installs only the following files:
[code]
I can't find, for example, all extra binaries in `/tmp/dist/usr/bin`, `_apbslib.so` and so on. Seems like `install` target doesn't install all stuff properly.

One more thing to note. During `cmake` stage it complains about `rpc/rpc.h` not being found. Seems like it searc

[2020-04-24 16:15] sobolevnrm opened #27 "Fix test coverage and integrate with Travis CI"

[2020-04-24 16:16] sobolevnrm opened #26 "Cmake modernization"

[2020-04-24 16:19] sobolevnrm opened #22 "Single Cmake build/test system for APBS/PDB2PQR with Travis CI integration"

[2020-04-24 16:20] sobolevnrm opened #21 "Include installation documentation with code in main documentation"
No in separate text, Markdown, Confluence, etc. files

[2020-06-16 17:43] kozlac opened #1 "PBAM Failing CTest"
PBAM is failing the CTests.

[2020-07-03 19:06] sobolevnrm opened #2 "Add units to geoflow input/output"
Hello,
I think there is still ambiguity in APBS 3.0.0 (that does not output energy units in the geoflow computation) and the definition of the keywords on the website. Are gamma and press given in kcal or kJ? Thank you very much for writing this code. I'm very grateful for it.

_Originally posted by @sozenoid in https://github.com/Electrostatics/apbs-pdb2pqr/issues/29#issuecomment-643111518_

[2020-07-03 19:07] sobolevnrm opened #3 "Identify places where C/C++ can be replaced by Python"
One example is the PDB2PKA graph clique-finding code?

[2020-07-03 19:59] sobolevnrm opened #4 "The gamma keyword uses two different sets of units..."
... in APOLAR and ELEC geoflow.  We need to reconcile these.

[2020-07-03 20:06] sobolevnrm opened #5 "Complete UQ parameter discussion"
Someday I should finish https://github.com/Electrostatics/apbs-pdb2pqr/blob/master/doc/apbs/errors.rst

[2020-07-03 20:11] sobolevnrm opened #6 "Units in geometric flow examples"
Are the units in the geometric flow examples really kcal/mol/A^n?  They should be kJ/mol/A^n.

[2020-07-03 20:12] lizutah opened #8 "Dielectric interface definitions"
Would it be useful to include something like the attached somewhere in the APBS documentation?
[Dielectric coefficient model families.pdf](https://github.com/Electrostatics/apbs-pdb2pqr/files/2367/Dielectric.coefficient.model.families.pdf)

[2020-07-03 20:12] lizutah opened #9 "add "glen" and "dime" parameters to geometric flow domain initialization"
Currently, the size of the domain in geoflow (AKA "glen" in APBS) is calculated by taking a bounding box around the atoms, padded by "p_extvalue" and divided by grid (dcel) size.  The "domainInitialization" method in GeometricFlow.cpp needs to be rewritten (and tested) to handle domain sizes specified by the user.

Also add "dime" (the number of grid points per processor for grid-based discretizat

[2020-07-03 20:13] lizutah opened #10 "Implement other boundary conditions for Geometric Flow"
@sobolevnrm, only "mdh" is implemented, adding "zero" would be easy to add.  What other boundary conditions do you want to see implemented?
Should use APBS's boundary condition code for this instead of implementing our own from scratch.

[2020-07-03 20:14] lizutah opened #11 "geoflow box size effect bug"
## From a user (fortran code):

I think I figured out why the surface area and non-polar solvation energy kept increasing with increase in box size.  The problem can be found in the time-integration routine (of the original geometric flow code) for the solvent characteristic S function: subroutine UPWINDING in surfconcz.f90.

The equation for the time evolution of the S function has the gradient v

[2020-07-03 20:14] sobolevnrm opened #12 "Create a "big memory" test case"
Basically, I'd like to have test cases that demonstrate that we can allocate memory up to the limit where signed integers stop working on 32-bit and 64-bit systems.

[2020-07-03 20:19] sobolevnrm opened #15 "The multivalue utility needs documentation"
The tools/multivalue utility (https://github.com/Electrostatics/apbs-pdb2pqr/blob/master/apbs/tools/mesh/multivalue.c) needs some --help (@keith923) and web (@ibloss) documentation.  This could be as simple as cutting/pasting the comments in the file header into a string in the code and a new MarkDown documentation file for the web.

This was issue APBS-76 in JIRA.

[2020-07-03 20:19] sobolevnrm opened #17 "Restore ability to link APBS with TINKER"
We used to be able to link APBS with TINKER (http://dasher.wustl.edu/ffe/) which allowed us to do cool things like this:  http://www.ncbi.nlm.nih.gov/pubmed/17411115

Unfortunately, after all of the build system upgrades, this linkage no longer works.

[2020-07-03 20:23] sobolevnrm opened #18 "Documentation for APBS geometric flow functionality"
We need some documentation for the geometric flow functionality in APBS.

[2020-07-03 20:31] sobolevnrm opened #19 "Replace SWIG with something from the last decade"

[2020-07-03 20:31] sobolevnrm opened #20 "Document Windows build process for APBS/PDB2PQR"

[2020-07-03 20:32] sobolevnrm opened #23 "MALOC modernization"
It's no longer needed and takes extra effort to maintain.

[2020-07-03 20:32] sobolevnrm opened #24 "What is maintenance path for PB(S)AM?"
Do we fork and maintain independently?

[2020-07-03 20:37] sobolevnrm opened #25 "What is the future of FEtk and MALOC?"
Need better integration with build/test/maintain framework

[2020-07-03 20:41] sobolevnrm opened #28 "Standard platform for testing build system for APBS"

[2020-07-03 20:42] sobolevnrm opened #29 "Replace data in Markdown with CSV"
Replace the data in apbs/examples/*/README.md with one or more CSV tables to facilitate testing and generating data for new releases.

[2020-07-03 20:43] waynebow94 opened #30 "unable to calculate surface potential at different pH values of whole capsid"
Hello everyone,

I'm new to the party and have some issues regarding calculating my surface potential and hope to find a solution for my problem.

I try to calculate the surface potential at different pH values with the following arguments for the pdb2pqr command line in APBS tools 2.1 in Pymol (e.g. pH 2): --with-ph=2.0 --ph-calc-method=propka

When I want to show the surface potential only the a

[2020-07-03 20:45] yurivict opened #32 "Please strip share/apbs/tools/bin/* executables"
[code]

[2020-07-03 20:48] sobolevnrm opened #33 "Resolve unit confusion with geometric flow press keyword and the apolar press keyword."

[2020-07-03 20:48] sobolevnrm opened #34 "Remove redundant PB-(S)AM keywords"
* PB-SAM surf = usemesh
* PB-SAM grid2d = write
* PB-SAM dx = write (or read)
* PB-SAM exp could be replaced with generalized version of APBS read
* PB-SAM diff command ordering could be replaced with use of mol id

[2020-07-03 20:49] sobolevnrm opened #35 "Add LPBE/NPBE support to geometric flow or remove the ion and lpbe keywords."
Need to remove ion and lpbe keywords from geoflow

[2020-07-03 21:09] sobolevnrm opened #36 "Update README.md for stand-alone apbs repo"

[2020-07-03 21:10] sobolevnrm opened #37 "Update www.poissonboltzmann.org for standalone apbs repo"

[2020-07-03 21:11] sobolevnrm opened #38 "Make PyPI package for apbs"

[2020-07-04 23:56] sobolevnrm opened #39 "Remove references to PDB2PQR from docs and config files"

[2020-07-19 23:45] sobolevnrm opened #41 "Modernize documentation on RTD"
It would be great to move the relevant APBS documentation to Sphinx for support on RTD.  This probably has (at least) two parts:

* [x] @sobolevnrm can work on migrating the existing documentation from https://github.com/Electrostatics/apbs-pdb2pqr/tree/master/doc
* [ ] @intendo would you be willing to look at solutions like https://devblogs.microsoft.com/cppblog/clear-functional-c-documentation-w

[2020-07-20 00:52] sobolevnrm opened #42 "Check build instructions"
@intendo can you please check https://github.com/Electrostatics/apbs/blob/nathan/docs/docs/getting/source.rst to see if it is correct?

[2020-07-27 00:17] PedroOverde opened #46 "Problems Compiling APBS 3.0"
Hello,

I am trying to compile APBS 3.0 under Centos 7 using cmake 3.17. The process simply dies with a message that does not tell me much about what is happening.

This is what I did:
1) Downloaded the source code for Linux
2) Expanded the tgz file
3) Went into the apbs directory
4) Tried to compile with cmake path_to_apbs_directory

At this point the process dies with a message "Configuring inco

[2020-07-28 23:40] mathog opened #253 "python3 compatibility?"
Working on CentOS 8, which has "python2" and "python3" but not "python".  Installing apbs was mostly OK, but pdb2pqr much less so, and the interaction between the two is not working at all well.  Some of this is probably because python 2 was EOL'd on 1/12020 but apbs/pdb2pqr still uses it.   Likely there is a "python" in there somewhere where only python2 or python3 is available.

But scons.py doe

[2020-07-31 02:21] ashermancinelli opened #47 "Python Porting"
## Problem Description

Much of the current C/C++ code is difficult to maintain as expressed by other teammembers. Not many domain experts are proficient enough in this codebase to contribute as proficiently as they otherwise could (as I was informed by @intendo) were the codebase in Python.

## Describe the solution you'd like

I think we should take a multi-phasic approach to porting this code t

[2020-07-31 17:40] ashermancinelli commented on #47
Note also that [the propka](https://github.com/jensengroup/propka) repo has an implementation of an Atom class (and other common utilities), though they are quite different from what we see in this repo. Perhaps when we have enough tests in place, we can use propka as a dependency and write implementations for the higher level algorithms in this repo using the classes in propka.

[2020-07-31 22:25] ashermancinelli commented on #47
As per my conversation with @intendo offline, he and Arron Phillips will work on test cases which require a bit more domain knowledge, such as the method `accessable_outside_inflated_venderwalls_rad` of the class `AtomComplexCalc` (formerly method `ivdwAccExclus` of class `Vacc`).

[2020-08-01 02:27] sobolevnrm commented on #47
It would be *outstanding* if we could figure out how to expand the PROPKA Atom class to include the functionality we need in PDB2PQR.

[2020-08-01 02:31] ashermancinelli commented on #47
It almost feels like we have the opposite situation with the PROPKA atom class - it seems to have an *immense* amount of data/behavior associated with it, and not much overlap with what we have here. But we can still investigate this 😄

[2020-08-01 23:30] sobolevnrm commented on #47
The overall approach outlined here looks great to me.

[2020-08-04 07:06] intendo opened #50 "Investigate using the numpy.dot function to calculate the Euclidean distance."
**Describe the bug**
Numpy may be a better way to implement the Euclidean distance .

[2020-08-04 14:20] ashermancinelli commented on #50
`numpy.linalg.norm` would work well, though Nathan mentioned he wanted to avoid using the square root for as long as possible.

[2020-08-04 14:59] intendo commented on #50
@sobolevnrm, what would you recommend for replacing `return np.sum((self.position._data - other) ** 2)` to calculate the euclidean distance in https://github.com/Electrostatics/apbs/blob/master/apbs/chemistry/atom.py?

You had mentioned using https://numpy.org/doc/stable/reference/generated/numpy.dot.html but the Googles seems to recommend numpy.linalg.norm like the answer on https://stackoverflow

[2020-08-04 21:42] ashermancinelli opened #51 "Sparse Matrix CSR format for AtomList/CellList"
**Is your feature request related to a problem? Please describe.**
The AtomList and CellList classes are essentially methods on top of a sparsely populated matrix, and the data access patterns for these classes could be vectorized by laying them out linearly in memory.

**Describe the solution you'd like**
We should store all data in AtomList and CellList in COO sparse matrix format, e.g.
[code]
I

[2020-08-05 01:24] sobolevnrm commented on #50
I recommended the `dot` function because it avoids square roots.  In general, when we can compare squared distances to squared distances, we will save a lot of computational effort.  That's why I wanted to avoid the norm for now.

[2020-08-09 00:39] sobolevnrm commented on #51
Since the (x, y, z) coordinates are implictly ordered, I think it might be better to create a N by 3 array with something like:

[code]

[2020-08-09 11:55] PolyachenkoYA opened #52 "installation issue with CUDA"
**Describe the bug**
Fails to install from conda with no real conflicts and with a strange error message.

**To Reproduce**
Steps to reproduce the behavior:
1. $conda create -n myenv python=3.6 && conda activate myenv
2. $conda install -c electrostatics apbs
3.
[code]
**Expected behavior**
clear installation

**Desktop (please complete the following information):**
 - OS: Fedora 30, Ununtu 18.04

[2020-08-10 13:09] PolyachenkoYA commented on #46
I had the same issue. I found [this](https://github.com/Electrostatics/apbs-pdb2pqr/tree/darren/valgrind/apbs/externals) old repo where all necessary externals are linked. One can just clone them manually.

[2020-08-11 23:49] mathog opened #54 "3.0.0 build instructions are confusing, do not work"
**Describe the bug**
Unable to build 3.0.0 from source, I think because the build instructions are confusing and/or incomplete

**To Reproduce**

1.  Attempt to follow instructions here:
  https://apbs.readthedocs.io/en/latest/getting/source.html
2.  It says to download "release" rather than do a git clone.  There are two files for 3.0.0 that might plausibly fit that description (not counting diff

[2020-08-13 13:26] dvdesolve opened #55 "Linking issues"
**Describe the bug**
3.0.0 release can't be built because of linking issues. I'm getting the following errors:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Download all necessary submodules
2. Run CMake and make with:
[code]
4. See error

**Expected behavior**
Clean and nice compilation

**Desktop (please complete the following information):**
 - OS: Arch Linux 64 bit

[2020-08-14 01:54] sobolevnrm commented on #54
Hello; I'm adding @intendo to see if he can help with this.

[2020-08-14 01:55] sobolevnrm commented on #55
Hello; thank you for reporting this.  I'm adding @intendo for his help.  Thank you.

[2020-08-16 21:23] intendo commented on #55
@dvdesolve can you tell us:
- what version of CMake
- which compiler (gcc/g++) and what version

Have you tried downloading the binaries at `https://sourceforge.net/projects/apbs/files/apbs/apbs-3.0/APBS-3.0.0_Linux.zip/download` to see if they will work on Arch Linux?

[2020-08-16 22:41] dvdesolve commented on #55
GCC version is 10.1 and CMake is 3.18.1.
Binary version actually can't be installed and run because it doesn't include full set of libraries needed for apbs to work. This is the main reason why I want to compile from source.

[2020-08-17 00:16] intendo commented on #55
I have a similar problem with GCC 10.2. I had to go back to GCC 9.3 to get APBS to compile.
APBS has several external source code projects. You may want to try turning all the options off in your CMake command. If that works, you can enable 1 of them and see if that works. That is how I eventually got all of them to compile. Some of the external git submodules don't work on systems like Windows 10

[2020-08-17 02:24] intendo commented on #1
This was fixed back in June before the split so I am closing it.

[2020-08-17 02:24] #1 closed

[2020-08-17 19:56] dvdesolve commented on #55
Actually it seems like the problem isn't compiler-related.

Each of source files:
- `src/pmgc/gsd.c`
- `src/pmgc/matvecd.c`
- `src/pmgc/mgcsd.c`
- `src/pmgc/mgdrvd.c`
- `src/pmgc/mgfasd.c`
- `src/pmgc/mgsubd.c`
- `src/pmgc/mypdec.c`
- `src/pmgc/newdrvd.c`
- `src/pmgc/newtond.c`
- `src/pmgc/powerd.c`
- `src/pmgc/smoothd.c`
include `src/pmgc/mypdec.h` (directly or via include header tree) which cont

[2020-08-18 06:17] lwwilson1 commented on #55
@dvdesolve was helpful enough to point out this issue and investigate it in TABI-PB as well; it looks like it's because [gcc 10 is finally enforcing no common blocks as a default](https://gcc.gnu.org/gcc-10/porting_to.html). It looks like you can also work around it by compiling with `-fcommon` when using gcc-10, but that's probably the last-place solution to the problem.

[2020-08-19 11:24] dvdesolve commented on #55
After applying my patch for global variables I've faced another problem with linking of `libmaloc.so`. During building the following error occurs:
[code]

I've tried to add linking with `libm.so` explicitly both in `apbs/tools/mesh/CMakeLists.txt` and in `apbs/externals/fetk/maloc/src/CMakeLists.txt` via `target_link_libraries()` but it doesn't work. Seems like FETk is built by APBS without CMake

[2020-08-20 00:41] mathog commented on #54
Since there was no response I tried building this from the github repository, even though the installation Docs appear to say not to do so.  These were the commands:

[code]

Further testing stalled when the README.md in examples said to do:

`Executing <code>make test</code> in each directory will run the examples for that directory and log the results to <code>TESTRESULTS.log</code>.
`

but ther

[2020-08-20 01:25] sobolevnrm commented on #54
We are not ignoring you but are stretched rather thin at this time.  You have definitely confirmed our statement that the master branch is not the preferred one to build. 😄

@intendo are you able to look into this at all?

[2020-08-20 07:23] intendo commented on #54
@sobolevnrm I will block off Thursday to work on APBS issues.

[2020-08-20 12:09] sobolevnrm commented on #54
Thanks!

________________________________
From: Darren Curtis <notifications@github.com>
Sent: Thursday, August 20, 2020 12:23 AM
To: Electrostatics/apbs <apbs@noreply.github.com>
Cc: Nathan Baker <nathanandrewbaker@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [Electrostatics/apbs] 3.0.0 build instructions are confusing, do not work (#54)

@sobolevnrm<https://na01.safelinks.prot

[2020-08-20 17:06] mathog commented on #54
Understood.

Well, it was a bit difficult, but I was eventually able to build from that.  Not so with the release.

Instructions for running the tests and examples would be very helpful.  (Or at least a URL that directs to these.)  At this point apbs has been built and installed, but other than responding to

`apbs --help
`
I don't yet know if it actually works.

[2020-08-21 01:38] sobolevnrm commented on #54
Thank you for your perseverance!  The `examples` directory is the best source of tests for APBS.

[2020-08-24 01:18] sobolevnrm commented on #3
Oops.  I think this was supposed to be a PDB2PQR issue.  Sorry for the confusion!

[2020-08-24 17:59] intendo commented on #54
A recent finding was that the external dependency on Eigen was a mercurial repository on bitbucket. Bitbucket stopped supporting mercurial so we updated the dependency to point to the same version of Eigen on a Github repository.

Also, make sure when you build APBS, you run make in serial mode to eliminate any race conditions between CMake, autoconf, make, and downloads. What I use is `VERBOSE=1

[2020-08-25 12:27] dvdesolve commented on #55
Actually it looks like the problem with undefined reference to `pow` isn't related to the race condition during `make`. I've tried to build from pure source with serial make and all worked just fine. However when I've tried to build with `makepkg` utility (this is Arch Linux way to build packages) then I've got the same error despite of serialized `make` run.

The only difference between two ways

[2020-08-25 15:21] dvdesolve commented on #55
I've updated [Arch Linux package](https://aur.archlinux.org/packages/apbs/) so it can be built now with full support of 3rd party tools/utils. I've attached two patches inside it as a temporary solution. We'll get rid of them when new version out.

[2020-08-25 20:50] itaneja2 opened #61 "Issues Building APBS"
I'm on Mac OS 10.15.16 and am trying to build APBS from source (had no luck with the binary after trying for hours). I've followed the instructions on the website, but have not had any luck (specifically, if I clone the master branch I'm able to run cmake but then make crashes; if I try the specific release 3.0, cmake crashes).

If possible, I would really appreciate if someone could add some more

[2020-08-25 21:13] sobolevnrm commented on #61
Hi -- are you trying to build from the master branch (not recommended) or the 3.0.0 release (https://github.com/Electrostatics/apbs/releases/tag/v3.0.0)?  Thank you.

[2020-08-25 22:00] itaneja2 commented on #61
I tried the master branch and the 3.0.0 release, but had difficulties with both.

[2020-08-26 05:29] intendo commented on #61
We updated the code on the master branch and the documentation today.

https://apbs.readthedocs.io/en/latest/getting/source.html

Hopefully this helps you out.

[2020-08-26 15:04] itaneja2 commented on #61
Awesome. It works! Thank You :)

[2020-08-26 18:27] #61 closed

[2020-08-26 18:55] itaneja2 opened #62 "python2->3 bug in psize.py"
At line 175, a list is compared to an integer. This is ok to do in python2, but not 3:

![image](https://user-images.githubusercontent.com/5510294/91344475-d8659980-e792-11ea-9ab0-e454f674c350.png)

To fix the issue, consider replacing line 175 with:

`if any([val <= 0 for val in nsmall]):`

[2020-08-26 23:41] intendo commented on #62
I think it is easier to only test the value that changed:
```if nsmall[i] <= 0:```

Thanks for catching this.

[2020-08-27 02:06] sobolevnrm commented on #55
Thank you!  I'll work on this.

[2020-08-28 22:04] mathog commented on #54
Never found instructions.  Was very confused by the README.md in the "examples" subdirectory (which says to run "make" in each subdirectory, but none actually have a Makefile).  The README.md in the "tests" subdirectory does not say that it uses the contents of the "examples" directory, but the command it says to use, slightly modified as:

`python3   apbs_tester.py 2>&1 | tee apbs_tester.log
`

s

[2020-08-28 22:33] mathog opened #64 "tests, apbs_tester.py fails at: Testing input file gly_energyforce.in"
apbs 3.0.0 built as described in another issue on CentOS 8.  Run like:

[code]
The end of examples/pbsam-gly/gly_energyforce.out is:

This executable compiled on Aug 19 2020 at 17:24:45

[code]

The cmake in the build (from github repository, as the release would not build at all):

[code]

and the build log file seems to have done something for pbsam:

[code]
and the resulting shared library is i

[2020-08-28 22:37] mathog commented on #64
Also...

[code]

Is there supposed to be a libPBSAMLib.so, or something like that?

[2020-08-28 22:56] mathog commented on #64
Found a reference to PBSAM with cmake here:

https://apbs.readthedocs.io/en/latest/getting/source.html#set-up-cmake

but when this is done:

[code]

The build fails with:
[code]

mkl.h is part of the Intel Math Kernel library.  This is just using gcc, why does it want this file?

[2020-08-29 04:55] intendo commented on #64
The PBSAM Solver is an external project and it looks like it needs mkl.h to compile.

You should be able to install MKL from the YUM repo at:
`https://software.intel.com/content/www/us/en/develop/articles/installing-intel-free-libs-and-python-yum-repo.html`

You can specifically install the MKL repo using:
`sudo yum-config-manager --add-repo https://yum.repos.intel.com/mkl/setup/intel-mkl.repo`

T

[2020-08-29 05:17] intendo commented on #64
The apbs_tester.py is in flux. It was updated several times today to work on Linux, Mac, and Windows environments.

From the directory you run `cmake` with the `-DENABLE_TESTS=ON` option from successfully, you can run the following to run the tests that are able to test the solvers you have built:
`ctest -C Release --output-on-failure`

NOTE: The tests can take up to 2 hours to run if you have all

[2020-08-29 23:23] intendo commented on #42
I think this was completed and should be closed.

[2020-08-30 03:03] #42 closed

[2020-08-30 17:10] sobolevnrm commented on #62
@intendo -- what happened to the PR to fix this?

[2020-08-30 17:12] sobolevnrm commented on #52
Hello --

This is a very interesting issue since I wasn't aware we had a supported conda package for APBS! :). We do have one for PDB2PQR.  Which features are you trying to use?

If possible, it would be best if you could could install from one of our supported releases instead:  https://github.com/Electrostatics/apbs/releases

Thank you

[2020-08-30 17:12] #52 closed

[2020-08-30 17:14] #39 closed

[2020-08-30 17:14] #37 closed

[2020-08-30 17:14] #36 closed

[2020-08-30 17:20] sobolevnrm commented on #23
The most likely modernization route here is just to delete the library.

[2020-08-30 17:24] sobolevnrm opened #65 "Update documentation for running tests"
_Originally posted by @mathog in https://github.com/Electrostatics/apbs/issues/54#issuecomment-683166008_

[2020-08-30 18:14] intendo commented on #62
Sorry, I made the change from `if nsmall <= 0:` to `if nsmall[i] <= 0:` in main since it was just a simple logic error.

[2020-08-30 18:24] intendo commented on #27
For C/C++ code, we abandoned Travis CI in favor of Github Actions for Linux/Mac and Appveyor for Windows.

For the new Python code, Scons is gone and pytest has been implemented but not added to any CI.

Would you like me to add the flake8, black, and pytest apbs/test/ to the Github Actions and Appveyor?

[2020-08-30 19:57] sobolevnrm opened #66 "Very slow boundary element execution"
Hi @lwwilson1 --

Could you please help @intendo and me with a performance issue in BEM?  The details follow.

------------

From the output below you can see that the bem-pKa test (15) that was switched from MSMS to NanoShaper skin mode is 75 minutes:

[code]

There seems like there are some large calculations in one of the bem-pKa test, 2LZT-ASH66.in.
Is this due to the large number of atoms (19

[2020-08-30 20:15] sobolevnrm commented on #62
Great!  I'm closing this.

[2020-08-30 20:16] sobolevnrm commented on #27
If you don't mind, that would be great.  Thanks!

[2020-08-30 20:18] lwwilson1 commented on #66
My bad on this--It had slipped my mind the value of the `sdens` parameter should be updated on the examples. The density parameter in msms has a slightly different meaning than the one in NanoShaper (in msms, number of surface elements scales roughly linearly with `sdens`; in Nanoshaper, it scales quadratically). I'm fairly certain `sdens 2.47` instead of `sdens 10` will result in the tests taking

[2020-08-31 02:44] sobolevnrm commented on #66
Thank you!

[2020-08-31 07:21] lwwilson1 opened #67 "Linking error with TABI-PB and APBS when using clang"
The gcc-10 patched TABI-PB library successfully builds with clang on macOS, but fails at the linking step with APBS. This either has to do with the variables begin optimized away, or different default behavior between clang and gcc-10 with respect to C common blocks.

[2020-08-31 08:34] lwwilson1 commented on #66
See #68

[2020-08-31 09:10] lwwilson1 commented on #67
It appears that this does have to do with the default behavior of clang with respect to implicit common blocks in C. I stumbled upon a few exotic solutions, but the most straightforward appears to be simply to initialize the extern variables where they're defined. The mentioned issue addresses this, and this can be closed once the git submodule reference is updated.

[2020-08-31 15:33] lwwilson1 commented on #67
Sorry, I'd accidentally create the pull request to my own repo and not Electrostatics/TABIPB. Above pull request should do it.

[2020-08-31 17:26] mathog commented on #64
The installed MKL is over 2GB (supposedly, I have not done so yet.)  Since the release 3.0.0 zip only expands to 1.27GB clearly most of this is not actually used.  ldd on apbs showed that it was linked to APBS-3.0.0.Linux/lib/libPBSAMLib.so which was 1.3MB, and ldd on that library has no entries for any MKL shared libraries at all.  Probably it linked to a static library, but I cannot rule out tha

[2020-08-31 18:28] mathog commented on #64
Installed it into /opt/intel and all the pieces are there, but apbs apparently does not know to look there.  Re ran build like:

[code]

and it only tried to make the PBSAM stuff.  There was no difference in the cmake output after MKL was installed, and the make error that resulted was the same, so it looks like something should have been set for cmake to see, but it was not.  Since there are no i

[2020-09-01 19:33] mathog commented on #64
Could you folks **please** post the build procedure you used to make the apbs 3.0.0 binary release?  I'm flailing around trying to reverse engineer this, which is silly when one of you must have the series of commands readily available.

In any case, in a clean build directory, after installing Intel's MKL into /opt/intel, doing this:

[code]

now builds libPBSAMLib.so successfully without having

[2020-09-01 21:42] ashermancinelli commented on #19
Is there a branch/tag from which you'd like this work done?

[2020-09-01 22:26] mathog commented on #64
apbs_tester.py will run from the "tests" directory when everything is built this way, it just ignores the test argument.  So the test_cases.cfg file was edited down to just the protein-rna entry and it was run like:

`python3 ../tests/apbs_tester.py  2>&1 | tee manual_protein-rna.log
`
even after every "python" I could find in that example was changed to "python3" it always fails like this:
[code]

[2020-09-01 22:59] intendo commented on #19
There is now, the branch is replace_swig.

[2020-09-01 23:54] intendo commented on #64
@mathog, from **https://apbs.readthedocs.io/en/latest/getting/source.html**, this is what we use to build APBS on the latest Ubuntu, MacOSX, and Windows with Github Actions and Appveyor.

Since, we are always making bug fixes, you probably should make sure you do a `git pull`.

There is a WARNING about using `make` and you need to make sure that you run `make -j 1` to force make to run in serial m

[2020-09-02 17:13] mathog commented on #64
I will try that but it is pretty much what I already did.  Does that exact combination somehow block out MKL?  When similar commands were used here it did not work until this command:

`. /opt/intel/mkl/bin/mklvars.sh intel64
`

was run before cmake and make.  (I did not test if it would work if run between them.)  Maybe that is being done implicitly in .bashrc or something?  If it is omitted the

[2020-09-03 02:12] sobolevnrm opened #69 "Rehabilitate the NOsh code"
Per discussion with @intendo consider replacing NOsh with a formal workflow management system (e.g., https://www.commonwl.org/) or at least a modern input syntax that can be easily parsed in Python.

Ideally, the input syntax could be validated (and documented) with a schema.  JSON makes this straightforward but YAML also offers similar functionality in a roundabout way.  This deserves additional

[2020-09-04 17:31] ashermancinelli commented on #19
Building with MALOC/FETK seems to be an issue, though I see #23. Should resolution of MALOC dependence be a blocker for this issue? I'm happy to take up that issue before this one, especially if it will free us up down the line.

[2020-09-04 17:32] mathog commented on #64
Tried those instruction on CentOS 8, they do not work.  As I described previously, the build fails when a compile cannot include mkl.h.  Here are the exact commands used:

[code]

As before, when it fails the build log file ends with:

[code]

Is MKL already set up by default in your build environment?  In mine it is not, so that this:

`set | grep -i mkl
`
returns nothing.  To find that one must

[2020-09-04 18:36] mathog opened #70 ""make install" places nonfunctional pdb2pka in apbs-3.0.0/../pdb2pqr"
When "make install" runs it does these two commands (in log file on lines 313 and 314):

[code]
These result in a directory /usr/common/src/pdb2pqr which contains the single file pdb2pka.  That is a binary dynamically linked to many libraries including libPBSAMLib but NOT the Intel MKL libraries:

[code]

This binary segfaults when run, here in strace:

[code]

[2020-09-04 18:44] sobolevnrm commented on #19
I'd forego MALOC/FETK support for now -- I don't think it should block this issue.  Thanks!

[2020-09-04 21:54] dakami opened #71 "Possible iterator bug (i instead of ii)"
https://github.com/Electrostatics/apbs/blob/master/src/pmgc/buildGd.c#L232

            for(ii=2; ii<=*nx-1; i++) {
               i = 2 * ii - 1;

This appears to be an infinite loop, never reached (at least in my test cases) because VbuildG_1 isn't being called.  Technically this would still break if nx was variable, but it doesn't seem to be, and none of the other loops do this.  I only noticed

[2020-09-04 21:59] sobolevnrm commented on #71
That's a great catch!  I agree that it looks like a bug; the Galerkin construction of the operator should be looping over interior grid points (`ii`) and it appears that `i` is being incremented from an uninitialized value.

@ashermancinelli or @intendo do you have time to test this?  The fact that we haven't encountered this problem before makes me think it's in an unused part of the code -- so t

[2020-09-04 22:17] ashermancinelli commented on #71
Great catch @dakami. If it's unused, I foresee troubles testing it. Do we have a use case in which we know this function is called?

[2020-09-04 22:19] sobolevnrm commented on #71
I'm 99% sure it's a bug... If it's unused, I think we should delete it as part of the refactoring process.  We can add it back later if needed.

[2020-09-04 22:20] dakami commented on #71
I'd assume mg_manual, and the python bindings, would want it to be there?  Refactoring possibly should make sure it's not ultimately a faster way to do things before removing it.

[2020-09-04 22:55] ashermancinelli commented on #19
If you see the commit referenced above, I already have some of the NOSH functionality exposed - what functionality is the highest priority for interfacing with python?

[2020-09-05 21:22] sobolevnrm commented on #19
I'd focus on NOsh and the functions called from NOsh.

[2020-09-06 22:27] intendo commented on #71
That line should probably be changed to `for(ii=2; ii<=*nx-1; ii++)` to be consistent with the outer 2 loops for jj and kk.

[2020-09-09 01:22] intendo commented on #64
I think the crux of the problem is that we don't have the Intel Math Kernel Libraries (MKL) installed on our systems.

Since you have it installed, CMake/Configure find it defined as __MKL in Solvmat.h and then can't resolve the paths to the include files.

You should be able to get this to work if your disabled PBSAM (`-DENABLE_PBSAM=OFF`). We may drop support for PBSAM in the next release as par

[2020-09-09 01:34] intendo opened #73 "Convert tools from C to Python"
**Is your feature request related to a problem? Please describe.**
Please convert the tools/* to Python3

**Describe the solution you'd like**
Replace as much C code with Python as possible

[2020-09-09 18:26] mathog commented on #64
The initial problem, the unresolved dgemm on linking, happened before MKL was installed.  For whatever it is worth, when I built PBSAM directly from its git repository

https://github.com/dhbrookes/pb_solvers

it has the "mkl.h" problem even if /opt/intel is renamed to /opt/hide.intel, and as far as I can tell, there is no pkg-config ".pc" file for MKL.  So not very clear how cmake determines that

[2020-09-09 23:09] intendo commented on #64
The __MKL is "found" by the configure script in the pb_solvers build system. The APBS source code simple calls/wraps the pb_solvers build in the `CMakeLists.txt` file:

[code]

More than likely, the __MKL symbol may be embedded in your compiler.
For example, did you compile GCC on the system? If so, the compiler may have compiled in support for MKL.
It also may be defined in your OPENMP library. Y

[2020-09-10 19:46] intendo opened #75 "Get pybind11 to work in Appveyor and Github Actions"
The Appveyor file (https://github.com/Electrostatics/apbs/blob/master/appveyor.yml) and Github Actions file (https://github.com/Electrostatics/apbs/blob/master/.github/workflows/build.yml) need to be fixed so that pybind11 doesn't crash the builds.

[2020-09-11 18:35] ashermancinelli commented on #47
Closing for now in favor of interfacing C code with python and gradually porting as needed. We can reopen when this is again relevent.

[2020-09-11 18:35] #47 closed

[2020-09-11 18:37] ashermancinelli commented on #19
Upon resolution of #77, the bindings for NOsh related code should be finished. What is the next priority?

[2020-09-13 00:55] sobolevnrm opened #78 "Convert APBS parameter files to a modern format"
* Convert YAML or JSON
* Start with files in https://github.com/Electrostatics/apbs/tree/master/tools/conversion

[2020-09-16 09:24] xiki-tempula opened #79 "Linking issue with using pre-compiled binaries"
**Describe the bug**
I want to use the pre-compiled binary on osx and ubuntu

**To Reproduce**
I downloaded the APBS-3.0.0 release
APBS-3.0.0_Linux.zip
and
APBS-3.0.0_OSX-Darwin.zip

However, in the ubuntu platform, I got

[code]

In the OSX platform 10.15.6,
I got

(base) XXXX:bin XXX$ ./apbs
dyld: Library not loaded: @rpath/libTABIPBlib.dylib
  Referenced from: /Users/XXX/Desktop/APBS-3.0.0.Darw

[2020-09-20 19:17] sobolevnrm commented on #79
@xiki-tempula -- can you please tell us which version of Ubuntu you're using?

@intendo -- can you please help with this?

Thanks!

[2020-09-20 19:18] xiki-tempula commented on #79
Ubuntu 18.04.4 LTS (GNU/Linux 5.4.0-47-generic x86_64)

[2020-09-21 20:43] ashermancinelli commented on #19
@sobolevnrm Could you provide some next steps for this?

- How are the original python bindings used?
- How can we test the replacements I've put in place here?

[2020-09-22 16:31] ashermancinelli opened #80 "Fix Build Script"
Build script in master branch is currently broken on linux/mac. Linker errors result when linking PBAM and other external libraries.

[2020-09-22 16:32] ashermancinelli commented on #80
CC @intendo @sobolevnrm

[2020-09-22 16:56] ashermancinelli commented on #80
Ideally we cache the external library builds in between runs and run on all branches.

[2020-09-22 17:28] ashermancinelli commented on #80
@intendo Do you think it would be a good idea to host the precompiled external libraries as well as the precompiled final product? This way we could reduce CI runtimes and make local builds more straightforward. I would also love to write a script that would pull all the dependencies and the final product for end users.

[2020-09-22 18:07] intendo commented on #80
@ashermancinelli I think it would be great to pull the statically linked precompiled external dependencies from the releases like we do with NanoShaper (for Windows/MacOS/Linux). We can't store binaries in the repository. You have to store binaries as part of a release.

[2020-09-22 22:10] intendo commented on #80
I made some minor updates to get us back to the last time we merged. The build, test, and package works on MacOS.
The build and test works on Linux but the package fails with:

[code]
@ashermancinelli  Does pybind create a dynamically linked python to install with the bindings?

The build now works on Appveyor for Windows but the tests fail. That problem is more than likely due to the way testing

[2020-09-22 22:26] ashermancinelli commented on #80
@intendo no, `apbs.cpython-38-x86_64-linux-gnu.so` is a library (`apbs`) that you can import from python. I'm not sure why it doesn't seem to be building. Is this the latest master? If so I can check what's going on.

[2020-09-22 22:47] ashermancinelli commented on #80
@intendo I'll keep this issue just about the build script and open another issue for the pre-built dependencies.

[2020-09-22 22:49] ashermancinelli opened #81 "Build with precompiled external dependencies"
None of our external dependencies are under development (except pybind11), and a major prohibitor for our CI pipeline is the build time. I propose we upload tarballs of prebuilt dependencies so we can run CI on all our branches and reduce build time.

CC @intendo @sobolevnrm

[2020-09-22 22:53] intendo commented on #81
@ashermancinelli you will need a prebuilt tarball for each external for each platform (Linux, MacOS, Windows 10).

[2020-09-22 22:54] ashermancinelli commented on #81
Do you have access to a windows machine? I can build on amd64 linux & mac.

[2020-09-23 03:40] sobolevnrm commented on #81
Yes; if you tell me what to do, I can test.

From: Asher Mancinelli <notifications@github.com>
Reply-To: Electrostatics/apbs <reply@reply.github.com>
Date: Tuesday, September 22, 2020 at 15:54
To: Electrostatics/apbs <apbs@noreply.github.com>
Cc: Nathan Baker <nathanandrewbaker@outlook.com>, Mention <mention@noreply.github.com>
Subject: Re: [Electrostatics/apbs] Build with precompiled external dep

[2020-09-23 17:51] ashermancinelli commented on #81
@sobolevnrm Thanks! I will have an example ready for you once I figure out all the second-generation dependencies. I have a build script [here](https://github.com/ashermancinelli/apbs-deps) which I hope to pull into the electrostatics project once it's working. This will serve as the base for building everything on windows.

Are either of you aware of which dependencies need each other? For exampl

[2020-09-23 22:48] intendo commented on #80
@ashermancinelli It looks like pybind does some extra work in CMake trying to build a ${PROJECT}.cpython-${PYTHON_VERSION}-${ARCH}-${OS}-${TOOLCHAIN}.so.

On the Mac, I get the following for `apbs.cpython-38-x86_64-linux-gnu.so`:

[code]

I can't figure out why the python-pybind CMakeLists.txt file is generating all these dependencies.

[2020-09-23 22:55] intendo commented on #81
@ashermancinelli I think that `FETK` is a standalone package that we use for the machine dependent abstraction (`MALOC`) and we can also use the Finite Element solver.

I think the `geoflow_c` and `pb_solvers` use the APBS data structures to implement their solvers and/or other parts of their libraries.

CC @sobolevnrm

[2020-09-23 23:35] ashermancinelli commented on #80
Recent push fixes installation of pybind bindings

[2020-09-23 23:36] ashermancinelli commented on #81
@sobolevnrm Do you know if `geoflow_c` and `pb_solvers` strictly depend on APBS? Or does APBS in any way also depend on those two?

[2020-09-24 00:09] ashermancinelli commented on #80
Linux and Mac builds should be fixed now.

[2020-09-24 00:09] #80 closed

[2020-09-24 00:12] ashermancinelli commented on #81
To really fix this issue, I think we need to decouple geoflow_c, pb_solvers, and APBS. APBS should only build/run self-contained tests, and tests that rely on geoflow_c or pb_solvers should run in their respective repos.

[2020-09-24 02:15] sobolevnrm commented on #81
FEtk provides both finite element support and the MALOC hardware abstraction library.

[2020-09-24 02:16] sobolevnrm commented on #81
Yes, I believe those libraries are intertwined with APBS -- but am not sure.

[2020-09-24 02:17] sobolevnrm commented on #81
APBS relies on these two libraries so I think we at least need integration tests?

[2020-09-24 03:12] sobolevnrm commented on #81
We have a lot of potential actions/issues in this thread.  Can we fork some of them off by referencing in new, more specific, issues?  Thanks.

[2020-09-24 16:15] sobolevnrm opened #82 "Retire SF.net mailing list"

[2020-09-24 23:32] ashermancinelli commented on #82
Is this as simple as turning off the feature in sourceforge or do we need to do something else like notify current users?

[2020-09-24 23:33] ashermancinelli commented on #79
Is the library in the lib directories of the tarball, and have you set your ld path accordingly?

[2020-09-24 23:34] ashermancinelli commented on #75
@intendo I believe I fixed this (it's passing the CI builds), but can I get your confirmation before closing?

[2020-09-24 23:52] ashermancinelli opened #85 "Decouple APBS from dependees"
**Is your feature request related to a problem? Please describe.**
The current build script builds all APBS's dependencies, as well as TABIPB, geoflow_c, and pb_solvers, which seem to actually be dependees of APBS and not really dependencies. I think all the APBS tests which rely on these repos should reside in their respective CI pipelines, and perhaps we can have another repo that uses all of th

[2020-09-24 23:55] ashermancinelli commented on #81
As far as APBS is concerned, I am addressing this in [my own repo](https://github.com/ashermancinelli/apbs-deps) which we can pull into the Electrostatics project when it's ready. It already compiles eigen, pybind, and fetk into a release tarball available in the repo. We should already be able to integrate this into our APBS CI to cut pipeline times down by a huge margin. We should probably enabl

[2020-09-25 01:41] sobolevnrm commented on #82
I'll take care of it; thanks!

[2020-09-25 06:34] intendo commented on #79
@ashermancinelli I don't know that using `LD_LIBRARY_PATH` or `LD_RUN_PATH `will fix the problem because of the missing libraries like `libgomp.so` and others provide by the compilers.

@xiki-tempula you may be able to run `ldd ./apbs` and see all the unresolved libraries and see if they exist on your system. You may have to install the GCC 9.2 compiler and developer packages to get all the missin

[2020-09-25 06:42] intendo commented on #75
The Github Actions are working but Appveyor is still failing.

[2020-09-25 07:15] 1ESl opened #87 "Poisson operator"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-09-26 01:52] #82 closed

[2020-09-26 21:56] sobolevnrm commented on #87
The PDF didn't work for me; here are the contents of the input file from the original email:
[code]

[2020-09-26 21:57] sobolevnrm commented on #87
@intendo and @ashermancinelli - who is the write person to work on this?

[2020-09-26 22:09] ashermancinelli commented on #87
I'd like to get more familiar with the interface so you may assign to me if you like.

[2020-09-27 17:29] dakami opened #88 "What are the units for floats in DX/DXBIN files?"
I was asked to provide the absolute strengths of electrostatic fields calculated by apbs.

As it happens, they are described as:

[code]

They're doubles, but of what?

[2020-09-27 17:39] sobolevnrm commented on #88
The [write](https://apbs.readthedocs.io/en/latest/using/input/elec/write.html?highlight=write) command writes out the electrostatic potential (not the field) in units of `kT/e`, where `k` is Boltzmann's constant, `T` is the temperature (in Kelvin), and `e` is the electron charge.  This is about 25.85 mV at 300 K.

[2020-09-27 17:39] #88 closed

[2020-09-27 18:23] dakami commented on #88
Thank you!

[2020-09-28 01:36] sobolevnrm opened #89 "Tag v3.0.0 is broken"
**Describe the bug**

https://github.com/Electrostatics/apbs/releases/tag/v3.0.0 has a submodule that is missing its URL.

**To Reproduce**
The following Dockerfile contents are based on the current install instructions:

[code]

When building this Dockerfile, the following error is returned on the last step:
[code]

**Expected behavior**

The last stable tag/release should work with the instructi

[2020-09-28 02:55] sobolevnrm opened #90 "I intentionally broke the master branch"
This is as far as I could get with Docker on the master branch:
[code]
where `vars.sh` contains:
[code]

[2020-09-28 08:27] intendo commented on #89
This apbs repo for the v3.0.0 tag has never worked for me. I have always had to go back to the original repo `apbs-pdb2pqr` and checkout the `darren/valgrind` branch to build apbs and use it.

The docs work for the latest version of apbs in master, which I think we should make a new release to to get a stable tag/release.

[2020-09-28 08:42] intendo commented on #90
@sobolevnrm What is the task you want us to do to resolve this issue? Is it to add a Dockerfile and instructions on how to use it? Or is it for us to have a common development environment that we can run on Windows, Mac, and Linux?

Here is a working Dockerfile.build that is based on the one we used to build the APBS Documentation Programmer's Guide and what we used to do the valgrind/callgrind on

[2020-09-29 02:47] sobolevnrm commented on #89
Can we make a minimal increment on v3.0.0 that works?

________________________________
From: Darren Curtis <notifications@github.com>
Sent: Monday, September 28, 2020 1:27 AM
To: Electrostatics/apbs <apbs@noreply.github.com>
Cc: Nathan Baker <nathanandrewbaker@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [Electrostatics/apbs] Tag v3.0.0 is broken (#89)

This apbs repo for the v3.

[2020-09-29 03:36] sobolevnrm commented on #90
Thank you!  This response is exactly what I was hoping to achieve with this issue.

I need to review your Dockerfile but I wonder if we should provide Dockerfile solutions for various platforms instead of detailed install instructions.

What do you think?

[2020-09-29 18:22] intendo commented on #89
We have 2 conflicting problems.

A. To include all the APBS features you need shared libraries. The shared libraries (GCC 9.2) are not available to the end user unless they have our development environment. This affects Windows, MacOS, and Linux.

B. To build APBS statically, you don't get any python modules. Windows and Linux work but the MacOS build can't find the TABIPB library.

Until we get @

[2020-09-29 18:28] intendo commented on #50
@sobolevnrm is this what you were thinking (with optionally not performing the square root)?

import numpy as np

# intializing points in numpy arrays
point1 = np.array((1, 2, 3))
point2 = np.array((1, 1, 1))

# subtracting vector
temp = point1 - point2

# doing dot product for finding sum of the squares
sum_sq = np.dot(temp.T, temp)
print(sum_sq)

# Doing squareroot and printing Euclidean distanc

[2020-09-29 19:39] sobolevnrm commented on #50
Yes, more or less.  I was actually thinking of mapping atom coordinates to (N, 3)-size arrays, where N is the number of atoms, so we could quickly apply operations like `dot`, etc. to those arrays .

[2020-09-29 19:40] sobolevnrm commented on #89
Perhaps we should offer both (A) and (B) for now and update the documentation to steer users in the right direction?

[2020-09-29 20:34] intendo opened #91 "Create PQRPARSER in Python"
Add pqrparser to existing python code.

Must:
- Read ATOMs from PQR file
- Generate a list of ATOMS
- Utilize eBNF grammar

[2020-09-29 20:36] sobolevnrm commented on #91
Like https://github.com/Electrostatics/pdb2pqr/blob/968e15a2aac64cf9712abf7f8621793b75ea8b4d/pdb2pqr/io.py#L540 ?

[2020-09-30 03:40] intendo commented on #91
Yes, but replacing 600+ lines of code with about 50.

[2020-10-02 02:23] sobolevnrm opened #93 "APBS readthedocs.io build is failing"
See https://readthedocs.org/api/v2/build/11997041.txt for example.

[2020-10-02 02:34] sobolevnrm commented on #93
This is the first version that failed:  https://github.com/Electrostatics/apbs/commit/f005fd69805baf92912cd97ee71438d6a698563f

[2020-10-02 05:38] fvmarcoline opened #95 "Reading dx files written by apbs is not working on windows in apbs versions 1.5 and 3.0"
**Describe the bug**
The APBS 1.5 and 3.0 windows versions downloaded from sourceforge, and the 3.0 windows version downloaded from https://github.com/Electrostatics/apbs/releases, can not read dx files which it creates.

**To Reproduce**
1) Rename the attached file A.pqr.txt to A.pqr
2) run:  apbs write.txt
3) run:  apbs read.txt

**Standard error from step 3:**
Vgrid_readDX:  Format problem with

[2020-10-02 07:16] #93 closed

[2020-10-02 17:48] intendo commented on #91
Need to find only Keywords for ATOM and HETOM.

[2020-10-03 16:21] zhangw99775 opened #97 "Unable to allocate enough memory for problem size; dime 161 225 161"
Hi,

When I use APBS to run one of my xx.in file, an error occurred sometimes. The error message
is below,

"Unable to allocate memory!
(This often means you don't have enough memory available for this calculation.)
FATAL ERROR: Unable to allocate enough memory for problem size.
FATAL ERROR: You requested 521613320 bytes of RAM.
FATAL ERROR: Check that your system has that much memory.
VASSERT: AS

[2020-10-04 03:37] sobolevnrm commented on #97
Can you please tell us more?

- What operating system are you using?
- How much memory do you have on your computer?
- What version of APBS were you using?

[2020-10-04 09:11] zhangw99775 commented on #97
I used windows10.
I have 13.9GB memory on my computer.
I used APBS 1.4

[2020-10-04 20:28] sobolevnrm commented on #97
Can you please try APBS 3.0 instead?

Thank you.

On Sun, Oct 4, 2020 at 2:11 AM zhangw99775 <notifications@github.com> wrote:

[2020-10-05 21:09] ashermancinelli commented on #87
@1ESl with what options did you build and invoke apbs? I can't seem to open the pdf attachment you sent.

[2020-10-06 12:53] 1ESl commented on #87
Hi.
We build it from source code from sourceforge.
We try different input files, but the writemap function did not work. While
running APBS, it is written in terminal that map is written, but file can
not be found. Please find my input file in attachment.

V V pon., 5. okt. 2020 ob 23:09 je oseba Asher Mancinelli <
notifications@github.com> napisala:

[2020-10-06 17:03] ashermancinelli commented on #87
@1ESl Would you upload the file to this issue on github? Thank you in advance.

@intendo @sobolevnrm Do either of you know if we have a branch/tag for the source release on SF? The commit hash on SF is 7ae0c0, and I can't find that hash in any branch history.

[2020-10-06 20:01] ashermancinelli commented on #51
The data structures seem pretty entwined with the original code - better leave this be for now I think.

[2020-10-06 20:01] #51 closed

[2020-10-06 20:03] ashermancinelli commented on #71
This issue is resolved in merged #84

[2020-10-06 20:03] #71 closed

[2020-10-06 20:04] ashermancinelli commented on #75
Appveyor appears to be passing for master now - is this resolved?

[2020-10-06 20:06] ashermancinelli commented on #89
Did we previously go without SWIG-based python bindings in our prebuilt release?

[2020-10-06 20:23] intendo commented on #87
The v3.0.0 tagged release on SF is actually from https://github.com/Electrostatics/apbs-pdb2pqr.git. The repo was split up into apbs and pdb2pqr and the only version I can get to work from there is branch darren/valgrind.

[2020-10-06 20:24] ashermancinelli commented on #87
In that case, @1ESl could you retry your example with this repo instead of the SF mirror?

[2020-10-06 20:26] intendo commented on #89
Yes, we did use SWIG. I think pip is our ultimate goal for users to install APBS and all other packages.

[2020-10-06 20:30] intendo commented on #75
The only reason Appveyor is working is that it has Python and Shared Libraries turned off.
If we want to have Python via pybind11, we would want to turn Python and Shared Libraries on in Appveyor builds.

[2020-10-06 21:21] ashermancinelli commented on #89
Why are external builds blocking this? Prebuilt libs are just a convenience, I don't understand why they would block anything.

[2020-10-06 21:35] intendo commented on #89
External builds are not blocking this. But there is not a good "fix" for the current build system on all platforms.
Windows build is broke - won't build with Python.
MacOSX build is broke - won't build statically.
Linux and Docker (based on Linux) will build statically with all APBS features.

The minimally prebuilt libs do not include the legacy compiler baggage and autoconf configurations that c

[2020-10-06 23:10] ashermancinelli commented on #89
This may have to branch off into another issue, but if the primary issue is usability we could just package everything into pip pretty easily. The setup.py could call the respective build script before installing the python bindings.

[2020-10-07 03:18] sobolevnrm commented on #89
I'd like to have one last "stable" release before we start decomposition of the code into the Python-friendly version.

[2020-10-07 15:00] ashermancinelli commented on #89
Sounds good. BTW the first pip-based release may well just build apbs for the user and install the python libs we already have, not much else.

[2020-10-07 16:06] ashermancinelli commented on #23
This issue is being developed in branch `remove-maloc-dev`

[2020-10-07 19:36] ashermancinelli commented on #23
@sobolevnrm In the branch mentioned above, I've removed maloc as a dependency. I haven't changed too much, just copied five header/source pairs into another subdirectory of `src`. Would you like to iteratively replace the remnants of maloc as well or are we content with this solution?

CC @intendo

[2020-10-09 00:37] sobolevnrm commented on #23
I don't think we need to rewrite MALOC.  If native functionality is available to replace MALOC functionality, then that's all we need.

[2020-10-09 18:40] ashermancinelli commented on #81
@intendo @sobolevnrm I would appreciate you two looking at branch `pip-dev`. I think this may be a more portable solution and closer to what we ultimately want to have.

[code]
This will tar up the repo and all dependencies. From the tarball, we can use the setup.py script to build and install the python shared libs to the right place, as well as all the C libs.

[2020-10-09 18:43] ashermancinelli commented on #81
Specifically for @intendo : we could tar the repo *after* a `python setup.py build` as the first stage in a CI pipeline and run all tests in another pipeline. We could only trigger the first pipeline if something changes in the C code, and this should drastically reduce CI time used like we hoped yet we could stay relatively platform independent.

[2020-10-09 21:13] intendo commented on #81
I added the upgrade pip command to your commands. It builds on my Mac but the `apbs` binary is still dynamically linked to the compiler:

[code]

My guess is that those dynamic links come in from the apbs_pybind.cpython-38-darwin.so shared library:
[code]

Can we get them to link to the static libstdc++.a and libgcc_s?
Or will the user building from source get their compiler's stdc++ libraries lin

[2020-10-10 16:53] ashermancinelli commented on #81
The user building from source should take care of that. We wouldn't distribute prebuilt binaries should we go with this option, but would still simplify user experience and reduce build times in CI.

[2020-10-10 17:00] ashermancinelli commented on #23
So would you like to leave a few components of maloc in the repo like in `remove-maloc-dev` branch? If we go the native functionality route, we'd probably want to refactor pieces of apbs source into C++. Biggest MALOC component used is Vio/socket stuff I think, we could replace all that with std::string. APBS/MALOC sources seem compile-able in C++ already anyways.

[2020-10-11 01:54] sobolevnrm commented on #23
I think it's best to replace whatever we can with native functionality and
then see what's left?

On Sat, Oct 10, 2020 at 10:00 AM Asher Mancinelli <notifications@github.com>
wrote:

[2020-10-11 14:55] sobolevnrm commented on #81
Did you see this warning message?

[code]

[2020-10-11 14:55] sobolevnrm commented on #81
We will always need to provide prebuilt binaries for some users.

[2020-10-11 14:56] sobolevnrm commented on #81
I *really* like this method of installation.  What's keeping us from merging this into master?  I tried to build the master branch on my Mac last night and couldn't get it to work.

[2020-10-11 14:57] sobolevnrm commented on #81
Although the installation failed on my Mac in this branch too (spoke too soon):

[code]

Is there a way to include SWIG in the install process?

[2020-10-11 15:11] intendo commented on #81
It worked on my Mac because I had SWIG installed. I think @ashermancinelli could help me figure out a way to remove SWIG with a hard-coded version of what SWIG produces or replace it with pybind11. I would have to defer to @ashermancinelli for which approaches we could try.

[2020-10-11 15:56] ashermancinelli commented on #81
I would much rather port to pybind, but this is outside the scope of this issue and potentially very involved. Can we just list swig as a dependency and put the onus on the user to install it?

[2020-10-11 15:56] ashermancinelli commented on #81
@sobolevnrm I'd personally like to see this working in all our CI before we merge. I think there's some more work needed to get this working on windows.

[2020-10-11 19:17] sobolevnrm commented on #95
I cannot reproduce this issue with the master branch.  @intendo and @ashermancinelli -- how far off are we from another release?

[2020-10-11 22:41] fvmarcoline commented on #95
I was also not able to reproduce this on master two days ago. I built apbs from master using cygwin/gcc on windows. I was able to run our normal test cases, but the results were way off of the expected results (the three test cases from Callenberg et al., 2010, PLoS ONE 5(9): e12722). Our (https://sourceforge.net/projects/apbsmem) build system runs these three test cases, at low resolution (> ant

[2020-10-13 12:58] 1ESl commented on #87
Yes. I will try and see if that works for writemap.

V V tor., 6. okt. 2020 ob 22:24 je oseba Asher Mancinelli <
notifications@github.com> napisala:

[2020-10-13 19:17] ashermancinelli commented on #81
@intendo `python setup.py test` is a command class as well. We could pull in all our platform-specific testing utilities into this command so we have a platform-independent way to build, install, and test our repo.

[2020-10-16 19:37] ashermancinelli commented on #81
@intendo Could you take a look at current `pip-dev` branch? Building `src/generic/nosh.c` is failing on windows, but I haven't touched anything under the src directory, so I may just be ignorant about building on windows.

[2020-10-16 20:34] intendo commented on #81
@ashermancinelli what toolchain are you using on Windows?

[2020-10-17 16:32] ashermancinelli commented on #81
choco, msvc 2015 I believe.

[2020-10-17 17:08] intendo commented on #81
Look at the "Windows VM on Azure to build APBS" in the OneNote I sent you.

[2020-10-18 01:55] sobolevnrm commented on #95
I think we need to release some new binaries.  @intendo and @ashermancinelli -- is this feasible?

[2020-10-19 15:35] intendo commented on #95
@sobolevnrm I think we can on Linux for sure. I am pretty sure we can on Windows (a bit more manually). I cannot for the life of me figure out how to make a binary on MacOSX with the user needing the compiler runtime libraries (we may just have to update the documentation and choose HomeBrew as the default?).

[2020-10-21 23:07] ashermancinelli commented on #81
@intendo @sobolevnrm I have a precompiled apbs stored as a pip wheel which we should be able to upload to pip.

For example on linux:
[code]
gets you:

[code]

I've got the static libraries for gcc stdc and stdc++, so I'll try building with them and uploading as a release for current users. This should hopefully address #95 as well.

If we base all our tests based off of these installation paths,

[2020-10-22 16:04] ashermancinelli commented on #95
@sobolevnrm @intendo I have uploaded prebuilt binaries for mac, linux, and *windows* to the testing mirror of pypi. Can you both test these out for me? Installing them with this command: `pip install -i https://test.pypi.org/simple/ apbs` works for me.

[2020-10-23 15:42] ashermancinelli commented on #81
FYI I have the image I used to build the manylinux pip packages uploaded to [docker hub here](https://hub.docker.com/repository/docker/ashermancinelli/apbs_manylinux1_base).

[2020-10-23 18:30] intendo commented on #81
@sobolevnrm I think we should be able to remove the tools/windows directory. It looks like it was used to create an apbs.exe on windows in the past.

[2020-10-26 22:03] ashermancinelli commented on #81
@intendo @sobolevnrm If either of you can let me know what external libs must be built into apbs for release, I can build and test and deploy to pypi-testing and finally deploy to pypi with Nathan's account.

[2020-10-28 01:52] sobolevnrm commented on #81
This is really cool!  Can you please update the documentation so I can
figure out how to use it?  That will help me understand what test cases
work/don't work, etc.

On Mon, Oct 26, 2020 at 3:03 PM Asher Mancinelli <notifications@github.com>
wrote:

[2020-10-28 01:54] sobolevnrm commented on #95
Yes, but can you please update the documentation to describe what to do
after the pip install?  Thanks!

On Thu, Oct 22, 2020 at 9:04 AM Asher Mancinelli <notifications@github.com>
wrote:

[2020-10-28 19:41] ashermancinelli commented on #81
Thanks! I've updated readme in branch `pip-dev`, please let me know if there's anything you'd like me to clean up.

[2020-10-28 23:13] fvmarcoline commented on #95
Hi everyone. Thank you for looking into this. The updated 3.0 on test.pypi.org, running on Windows 10 Home, does not fix the problem.

The .dx files seem to be correct. There are some slight formatting changes in the .dx files between apbs versions and OS versions, but those do not appear to be the problem.

Please let me know if there is any more information I can provide. Here is the result of r

[2020-10-29 19:45] ashermancinelli commented on #95
Are you certain that files `dielx.dx diely.dx dielz.dx` are all written to your current working directory? I could not reproduce this on master. Seems to run just fine for me.

[2020-10-30 00:09] fvmarcoline commented on #95
Yes. They are all present. You get a different error if they are not present:
[code]

The error must be happening while parsing the file header, because the error occurs before the usual output: "Vgrid_readDX:  Grid dimensions %d x %d x %d grid\n".

When I build it for myself, it works fine, so it's hard for me to locate the problem. If you want to instrument a test version, I'd be happy to try it

[2020-10-30 18:08] ashermancinelli commented on #95
Thank you for your patience. I believe I have a fix which is working on all three platforms. The parser was not using the correct formatting specifier which caused a `size_t` and a `long unsigned int` comparison to fail on line 751 in `src/mg/vgrid.c` on windows. I'll push the change to branch `dx-parser-hotfix`, please try building the branch and see if it works for you.

[2020-10-31 00:43] fvmarcoline commented on #95
If you could provide a binary, I would be happy to test it. I can not build the windows VS project (due to a strong desire to not create a Microsoft account).

[2020-10-31 17:47] ashermancinelli commented on #95
I've uploaded the new binaries to pypi testing mirror, so if you `pip install -i https://test.pypi.org/simple/ apbs` it should work on your inputs. I just tested with your inputs and it worked for me.

[2020-10-31 18:43] fvmarcoline commented on #95
That did the trick. Reading dx files works, and the results of our test cases are consistent with previous versions. Thank you for solving this. Reading dx files is a crucial feature for us and our users.

[2020-10-31 18:43] #95 closed

[2020-11-01 00:11] ashermancinelli commented on #89
Would this be closed by a release on pip?

[2020-11-01 00:13] sobolevnrm commented on #89
Yes, I think so.

On Sat, Oct 31, 2020 at 5:11 PM Asher Mancinelli <notifications@github.com>
wrote:

[2020-11-01 22:47] sobolevnrm opened #99 "New error with pip-dev"
Although the installation failed on my Mac in this branch too (spoke too soon):

[code]

Is there a way to include SWIG in the install process?

_Originally posted by @sobolevnrm in https://github.com/Electrostatics/apbs/issues/81#issuecomment-706717269_

[2020-11-01 22:47] sobolevnrm commented on #99
I'm getting a different error now trying to run `python setup.py build` from Anaconda Python on my Mac.

[code]

[2020-11-01 22:49] sobolevnrm commented on #81
@intendo -- I agree.

[2020-11-01 22:49] sobolevnrm commented on #81
Ideally, all of them.

[2020-11-01 22:56] sobolevnrm commented on #81
This doesn't work for me.  The `pip install` goes OK but after it's installed, I get errors like:

[code]

[2020-11-02 18:17] intendo opened #100 "Remove unused files"
**Describe the bug**
There are files in tools/windows that are causing problems with @ashermancinelli porting code to python.
There are still example files in examples/opal that were never removed.
There are files in tools/osx that must be legacy and no longer seem appropriate.

[2020-11-03 00:01] intendo commented on #64
@sobolevnrm can we close this issue?

[2020-11-03 00:31] mathog commented on #64
Yes.

[2020-11-03 00:43] #64 closed

[2020-11-03 04:52] ashermancinelli commented on #99
Have you updated for submodules? That function is intended to make sure your submodules are always clean so you may have to unit/update/sync.

[2020-11-03 05:12] ashermancinelli commented on #81
Interesting. What OS version and python version are you running, and what's in the dir `/Users/bake113/OneDrive - PNNL/Documents/Git/apbs/apbs/bindings`?

[2020-11-03 16:37] ashermancinelli commented on #99
As per the swig comment, we had another thread where I thought we had consensus on this [(link)](https://github.com/Electrostatics/apbs/issues/81#issuecomment-706725661):

which makes sense to me since including it in the install process could be complicated. There's no set of prebuilt binaries (except for windows) so we'd have to build ourselves most likely.

[2020-11-03 17:44] poonmk opened #102 "Installation of apbs 3.0 binaries"
Hello!

I would like to use the APBS 3.0 (Linux) binaries that I downloaded from SourceForge on a Ubuntu machine.  I can see the binary in the bin folder, but it appears to have dependencies on libraries in the other folders.  Seems to me that some kind of installation procedure is required, but I cannot find any documentation on how to do this, and it is not obvious to me how to do this on my own

[2020-11-04 03:13] sobolevnrm commented on #99
I'm not sure what you mean by `unit/update/sync`.  Are you referring to git
commands?

On Mon, Nov 2, 2020 at 8:52 PM Asher Mancinelli <notifications@github.com>
wrote:

[2020-11-04 03:13] sobolevnrm commented on #99
Sure.

On Tue, Nov 3, 2020 at 8:38 AM Asher Mancinelli <notifications@github.com>
wrote:

[2020-11-04 03:26] sobolevnrm commented on #99
Running `git submodule init; git submodule update; git submodule sync` fixed this problem.

[2020-11-04 03:27] sobolevnrm commented on #99
I just rage-quit the SWIG install process.  If we are going to require it, then we should document the best way to install it.

[2020-11-04 03:36] sobolevnrm commented on #99
I got SWIG to install but am 99% sure it used the default Mac Python installation rather than the conda environment I had activated.  Therefore, I was not particularly surprised when I received this `python setup.py build` error:

[code]

[2020-11-04 03:49] sobolevnrm commented on #81
Here's a different version of the error.  Running
[code]
results in the error
[code]

[2020-11-04 03:50] sobolevnrm commented on #81
The other information you requested:

[code]

and

[code]

[2020-11-04 18:53] ashermancinelli commented on #81
Ah I linked by rpath to libpython. I thought I fixed that already but it must have just been for linux and windows. I'll rebuild and upload again.

[2020-11-04 23:34] ashermancinelli commented on #81
I've uploaded a cleaned up wheel with no extra libs, so you shouldn't run into that error anymore. Could you reinstall from pip and try again? Also, please use the --verbose option and verify the wheel `apbs-3.0.0-4-cp38-cp38-macosx_10_15_x86_64.whl` is what you're getting.

[2020-11-05 00:10] intendo commented on #81
@ashermancinelli I think part of the problem for me is that I am running the Lab approved Mojave (10.4.6) version of MacOSX. I am running Python 3.8.3.
[code]

How do I create a wheel version to put out on pypi?
ERROR: No matching distribution found for apbs

[2020-11-05 00:58] ashermancinelli commented on #81
Yes, we have to build wheels for every platform and I haven't built for yours. You'll have to build with `python setup.py build` and `python setup.py bdist_wheel` before uploading to pypi with twine, but we can save pypi for later when we're ready for release. Is there a reason you want to upload your apbs build to pypi before it's ready?

[2020-11-05 03:57] sobolevnrm commented on #102
Hi Gregory --

I'm sorry for the problems you're experiencing.  @intendo or @ashermancinelli -- can you please help with this?

Thanks

[2020-11-05 03:59] ashermancinelli commented on #102
Could you try running from the lib dir or adding the lib dir to your `LD_LIBRARY_PATH`?

[2020-11-06 15:27] poonmk commented on #102
Thanks for the suggestion.  I tried that, and some other variations.  It keeps throwing this error:

../bin/apbs: error while loading shared libraries: libTABIPBlib.so: cannot open shared object file: No such file or directory

The referenced library is in the lib folder, and I added (exported) the lib folder to LD_LIBRARY_PATH, which I checked with $LD_LIBRARY_PATH.  Even when I tried running fro

[2020-11-06 17:35] intendo commented on #102
@poonmk can you post the output of `ldd apbs`?
That will help show how the code was compiled and what it is missing.

[2020-11-06 18:17] poonmk commented on #102
This is the output of `ldd apbs`:

	linux-vdso.so.1 (0x00007fff8be8e000)
	libm.so.6 => /lib/x86_64-linux-gnu/libm.so.6 (0x00007f37d52a8000)
	libstdc++.so.6 => /lib/x86_64-linux-gnu/libstdc++.so.6 (0x00007f37d50c7000)
	libTABIPBlib.so => not found
	libmaloc.so.1 => /lib/libmaloc.so.1 (0x00007f37d4e6c000)
	libamd.so.1 => not found
	libpunc.so.1 => not found
	libmc.so.1 => not found
	libgamer.so.1 =>

[2020-11-07 17:06] ashermancinelli commented on #99
`git submodule init`, `git submodule update`, and `git submodule sync` are the commands I was referring to.

[2020-11-07 21:46] ashermancinelli commented on #99
The install was pretty standard configure/make workflow on linux, and it's in the chocolatey and homebrew repos. I think we can pretty safely rely on package managers on windows/mac and building from source on linux.

Regarding your last comment, yes the python interpreter version has to match the headers your apbs build finds. You can pass additional cmake options to setup.py on branch pip-dev li

[2020-11-07 21:52] sobolevnrm commented on #99
I got a bit further with this by installing Swig via Anaconda:
[code]

It looks like the code is now breaking when building FEtk:
[code]

[2020-11-07 22:05] ashermancinelli commented on #99
Yes, I've been having a lot of trouble getting apbs to build with all the solvers. I've got everything (w/o FETk) building on windows, but only in appveyor. @intendo Are you able to build everything on all needed platforms?

[2020-11-07 22:29] ashermancinelli commented on #99
Actually, now the build is failing in appveyor (https://ci.appveyor.com/project/intendo/apbs). The external libraries seem really fickle. Out of scope for this issue, but I don't think this repo should be responsible for building all the libraries.

[2020-11-10 17:01] clarktemple03 opened #104 "Units of M for qdens"
Perhaps a rather silly question, but when say qdens is written out what are the units? The documentation states that it is in units of e_c M, but what exactly is M (multigrid points, molarity??) and how does one convert from M to A^3? There is an old script for looking at an ion cloud around DNA that gives M2num = 0.0006, but I see no rationale on how this number was obtained.
Thanks

[2020-11-10 18:15] clarktemple03 commented on #104
Believe I have figured it out after checking out the code for vfetk.c
The 0.0006022 comes from multiplication of e_c*M (turns out M=molarity)
6.022e23 (atoms/mol) * 1e3 (L/m^3) / 1e30 (A^3 / m^3) = 0.0006022

[2020-11-10 18:15] #104 closed

[2020-11-12 02:04] lwwilson1 opened #105 "Build failure with Intel compilers"
**Describe the bug**
A default build (`export CC=icc; export CXX=icpc; cmake ..; make`) fails with Intel compilers.

I've used both Intel 18.0.5 and Intel 19.1, and I'm building on the Great Lakes computer at the University of Michigan, which runs CentOS 7.

It fails at `src/main.c`, line 86:
[code]

I'm essentially 100% certain what's happening is that the Intel compiler defaults to C90, so you c

[2020-11-12 10:16] maribzo opened #107 "Problem with the installation"
Hello,

I had an issue with the installation of apbs. I got the following error (attached in the file). i did the following commands:
$cmake -DGET_NanoShaper=ON -DENABLE_PYTHON=ON -DBUILD_SHARED_LIBS=OFF ..
$VERBOSE=1 make -j 1 install
Could you help me to solve this problem?
Thank you
Maria
[error.txt](https://github.com/Electrostatics/apbs/files/5529809/error.txt)

[2020-11-12 17:25] intendo commented on #107
The errors seem to come from your system not being able to get Boost from SourceForge.

We have had problems in the past with SourceForge being down for maintenance or the mirrors are unavailable.

You may need to keep trying and look in the error.txt file for the URLs that are trying to download Boost from SourceForce and see if you can download them in your browser.

[2020-11-12 17:39] maribzo commented on #107
Yes, I can download Boost from SourceForge in my browser. Do you have any suggestions on what should I do next?

[2020-11-13 23:49] intendo opened #108 "Tests fail if setup command cannot be found"
**Describe the bug**
The tests can have a "setup" section that runs a command before running the test. The problem is that if the command does not exist, the test fails.

**To Reproduce**
Steps to reproduce the behavior:
Install python3 on Ubuntu (no python installed by default)

**Expected behavior**
The "setup" for test, protein-rna, should call the python (the same one running the test) instead

[2020-11-14 00:12] intendo commented on #99
@sobolevnrm the fetk configure looks like it has a DOS newline "^M" in it which could be the cause of the "bad interpreter" message.

[2020-11-14 23:40] sobolevnrm commented on #105
Our build system is in flux; I'm flagging this for @ashermancinelli and @intendo to see if they have suggestions on how to fix.

[2020-11-14 23:46] sobolevnrm commented on #108
@intendo can you please post a link to the offending code?

[2020-11-15 00:05] sobolevnrm opened #109 "Bad Xcode value in Cmake"
The file `build/CMakeCache.txt` sets `CMAKE_OSX_SYSROOT:PATH=/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.15.sdk`; however, my Mac (10.15.7) has the directories `/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX11.0.sdk` and `/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/M

[2020-11-15 00:06] sobolevnrm commented on #99
I can't test the DOS newline issue until #109 is resolved...

[2020-11-16 01:41] sobolevnrm opened #110 "Replace vclist.c"
https://github.com/Electrostatics/apbs/blob/a473431ef64dfac5521455ec8d6369768000978f/src/generic/vclist.c#L2

I just confirmed that we can replace all of the functionality of this class with https://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.cKDTree.html

[2020-11-17 16:41] maribzo commented on #107
Hi, I wanted once again to ask about any possibility to fix the problem with the installation. I downloaded the Boost but I don't know how to include this in the installation process.

[2020-11-18 00:34] #100 closed

[2020-11-18 00:52] intendo commented on #108
The code is at lines 186-188 in tests/apbs_tester.py:
[code]
The value of setup comes from the test_cases.cfg, line 112, such as the one for protein-rna, where a precondition is to run `python apbs_dx.py` to create all the data files.

The code in apbs_tester.py should be changed to something like the following if the first value start with python:
[code]

That way the sys.executable will work if

[2020-11-22 15:50] #67 closed

[2020-11-22 15:54] intendo commented on #38
@sobolevnrm should we close this now that we have a PyPi release (even if it is minimal)?

[2020-11-22 15:58] intendo commented on #31
This appears to still be a problem especially with building shared libraries. The shared libraries do not get installed. The static libraries for the external projects do get installed. This seems backwards. Hopefully @ashermancinelli  can help me figure this one out so we can get new releases built.

[2020-11-22 16:51] sobolevnrm commented on #38
Have we confirmed the package works on all of our major platforms?

[2020-11-22 16:51] sobolevnrm commented on #38
After we confirm that, I can release via my PyPI account.

[2020-11-25 19:19] #108 closed

[2020-11-25 23:45] intendo commented on #41
I tried to implement this but I think I am missing something because the example no longer works. I commented the sections in the files:
- docs/CMakeLists.txt
- docs/Doxyfile
- docs/conf.py.in
- docs/index.rst files

[2020-11-26 00:07] intendo commented on #32
I don't see any of these warnings about files needing stripped when building statically or dynamically on MacOS or Linux.

[2020-11-26 00:08] intendo commented on #26
This has been completed.

[2020-11-26 00:08] #26 closed

[2020-11-26 00:10] intendo commented on #22
The has been implemented and documented.
It works for Mac and Linux with Github Actions and on Windows with Appveyor.
The build is done with CMake, tests are done with CTest, and packaging is done with CPack.

[2020-11-26 00:10] #22 closed

[2020-11-26 00:12] intendo commented on #14
All the testing is done with CTest.
The tests are configured based on the way CMake is run. For instance, if ENABLE_BEM=OFF, then CTest will skip the tests for BEM.

[2020-11-26 00:12] #14 closed

[2020-11-26 00:13] intendo commented on #13
This works on Windows.

[2020-11-26 00:15] intendo commented on #7
By default, the ENABLE_OPENMP is turned on in CMake so the resulting binaries will be multithreaded.

[2020-11-26 00:15] #7 closed

[2020-11-26 00:35] yurivict commented on #32
Warnings about stripping are issued by the FreeBSD ports framework. MacOS and Linux simply don't have such safeguards.

[2020-11-26 00:37] ashermancinelli commented on #109
Did the above comment resolve this or are you still experiencing this?

[2020-11-27 03:47] sobolevnrm commented on #109
I can build the basic APBS binary with this new option.  Can you please update the documentation accordingly?

[2020-11-28 15:50] #97 closed

[2020-11-29 22:27] sobolevnrm commented on #41
I unfortunately don't know enough about the project to help troubleshoot.  Maybe we just stick with the documentation as-is and focus on documenting the Python API for now?

[2020-11-30 19:31] intendo commented on #107
@maribzo Another problem may be that you are enabling Python but turning shared libraries off. I think to use Python, you need to also enable shared libraries. I think your options are to enable both or disable both Python and shared libraries.

Another thing I noticed was that the error with boost mentioned that "curl" could not connect to SourceForge.

Can you run the following?
[code]

If not,

[2020-11-30 19:32] intendo commented on #107
@maribzo Another problem may be that you are enabling Python but turning shared libraries off. I think to use Python, you need to also enable shared libraries. I think your options are to enable both or disable both Python and shared libraries.

Another thing I noticed was that the error with boost mentioned that "curl" could not connect to SourceForge.

Can you run the following?
[code]

If not,

[2020-11-30 19:34] intendo commented on #70
This is part of the build problems we are having with MacOS and Linux where the dynamically linked libraries are point to the "build" directory and not the "installed" directory. We are working through this problem this week and hopefully will get the root cause of this problem solved.

[2020-11-30 23:03] sobolevnrm commented on #70
We've also separated the PDB2PQR-related (including PDB2PKA) functionality into a separate repository to make it a bit easier to troubleshoot issues like this.

[2020-12-14 00:58] sobolevnrm opened #116 "Make tmp*pka files truly temporary"
PDB2PQR incorrectly handles the temp files used by PROPKA.

[2020-12-23 03:12] sobolevnrm opened #118 "Benchmarks for tools/manip?"
@intendo could you please generate some benchmarks I can use for testing `born.c` and `coulomb.c` in the `tools/manip` directory?

Thanks!

[2020-12-24 00:42] sobolevnrm commented on #118
Nevermind; I am able to get APBS working on my Windows laptop and I can do it.

[2020-12-24 00:42] #118 closed

[2021-01-02 23:17] sobolevnrm commented on #16
Deprecate the current APBS input format and replace with YAML

[2021-01-21 18:10] intendo opened #119 "Parsing PQR files does not flag errors in file"
When parsing *.pqr files, an error in the file is skipped (e.g. ATAM vs ATOM).

The code should warn the user that there is an error in the file.

[2021-01-22 02:15] sobolevnrm commented on #119
I'd like to replace the PQR-parsing code with Python and have PDB2PQR import it to reduce code duplication.

[2021-01-22 02:41] intendo commented on #119
@sobolevnrm I agree. We just updated the PQR parsing code to be able to parse all the pqr files in the examples directory. We made the grammar be able to handle blank lines, REMARKS, TER, and END lines.

[2021-01-22 17:11] #119 closed

[2021-01-24 22:33] intendo opened #121 "Remove Tuple from AtomList and add field_name to Atom"
The AtomList acts like an normal List but contains an extra property for the internal list of Atoms as Tuples which is redundant.

The Atom does not check to make sure the field_name is set during construction.

[2021-01-25 17:10] intendo opened #123 "Replace home grown geometry routines with functions in osmolytes"
See comment about eventually replacing sphere routine with https://github.com/Electrostatics/osmolytes/blob/f8ac99827ba199b359ccf141b604a2b7362f9dbf/osmolytes/sasa.py#L31

[2021-01-25 17:17] #121 closed

[2021-01-26 23:32] intendo opened #124 "Tests for AtomList using Coordinate fails"
Running pytest on AtomList produces errors like:
TypeError: 'Coordinate' object is not callable

The problem is that properties are being called as if they are methods.
The fix is very simple, just remove the parentheses from the methods calls to get the properties instead.

[2021-01-26 23:34] #124 closed

[2021-01-27 02:17] intendo opened #126 "Add python code to parse legacy input files"
**Is your feature request related to a problem? Please describe.**
The existing C code to parse the APBS input files is very cryptic.

**Describe the solution you'd like**
Replace the C code with a much smaller version written in python using pyparse and an EBNF grammar.

[2021-02-20 16:40] intendo opened #128 "Update data dictionaries for Input Files"
There have been updates over the years to the solvers and their data dictionaries that define keywords.
These have gotten out of sync with the examples. Some examples have been deleted because there is not actual code left to support them.

We should review the examples and data dictionaries to update them and update an deprecated keywords that are no longer supported.

Examples:
The fille `exampl

[2021-02-23 20:28] intendo commented on #91
This was fixed in issue #119 and pull request #120

[2021-02-23 20:28] #91 closed

[2021-02-23 20:32] intendo opened #129 "The ApbsLegacyInput produces invalid dictionary keys"
The dictionaries produced cannot be converted to JSON correctly because they sub-keys are integers instead of strings.

[2021-02-23 21:45] sobolevnrm commented on #129
Is the JSON (in lieu of dictionaries) for communicating via APIs?

[2021-02-23 23:44] intendo commented on #129
The intent is that the input files should be in a form that can be used by as many tools as possible. A valid dictionary structure should be able to be serialized into JSON or another "container" via some loads() method (e.g. json.loads(apbs_config)).

I am trying to figure out a good way to "query" the resulting dictionaries that can be created from the legacy files and your new YAML configuratio

[2021-02-24 04:24] sobolevnrm commented on #129
It seems like YAML handles this situation and is the format we're heading towards for input files.  Is that an option?

[2021-03-05 00:25] chelsell opened #130 "Update libreadline dependency to allow for libreadline8?"
Hi there,

I was trying to use the precompiled binaries on my Ubuntu 20.04.1 LTS system, but got errors related to libreadline.so.7. 20.04 progressed to libreadline.so.8. I couldn't seem to find 20.04-compatible versions of libreadline.so.7. I ended up making libreadline.so.7 a symbolic link to libreadline.so.8, and so far that appears to work just fine. I don't know much about managing library de

[2021-03-08 03:42] sobolevnrm commented on #130
Hi Cole --

Thank you for the feedback.  We would love to get a PR with your fix.

Thanks!

[2021-03-08 08:53] intendo commented on #130
Thanks @chelsell , we are trying to update our compiled version to use Ubuntu 20.04 and it will probably use libreadline.so.8.
There are lots of library dependencies and we are trying to get them updated with a more modern version of CMake for the build system. Hopefully the symbolic link will work for you. If not, let us know and we will keep trying to get a better build of APBS and make it avail

[2021-03-16 22:21] sbembenek18 opened #131 "Cube to/from DX File conversion"
I'd like to be able to convert between Gaussian Cube File format and DX File format

[2021-03-16 22:28] sbembenek18 opened #132 "Similarity Tool"
I attempted to use the tool 'similarity'. I provided it with two DX files made via the APBS Pymol plugin. The files were successfully read by the program however, when it came time to actually calculate the similarity, I incurred a 'segmentation fault'

[2021-03-17 02:05] sobolevnrm commented on #132
Thank you; this is a known bug but we haven't documented it yet.

[2021-03-17 02:06] sobolevnrm commented on #131
APBS can read/write both; what are you looking for?

[2021-03-17 02:56] sbembenek18 commented on #131
Still new to APBS ...

In my .in file I tried: 'write pot cub' and 'write pot cube' neither worked
-- could you tell me the correct form?

thanks,

Scott

Scott Bembenek, Founder, CEO, CSO
Denovicon Therapeutics <https://www.denovicontx.com/>
1130 Wall St #558
La Jolla, CA 92037
<https://www.denovicontx.com/>

On Tue, Mar 16, 2021 at 7:06 PM Nathan Baker ***@***.***>
wrote:

[2021-03-17 02:58] sbembenek18 commented on #132
thanks -- so the Similarity Tool does not current work then?

best,

Scott

Scott Bembenek, Founder, CEO, CSO
Denovicon Therapeutics <https://www.denovicontx.com/>
1130 Wall St #558
La Jolla, CA 92037
<https://www.denovicontx.com/>

On Tue, Mar 16, 2021 at 7:06 PM Nathan Baker ***@***.***>
wrote:

[2021-03-17 03:00] sobolevnrm commented on #132
Correct.  It should be straightforward to reimplement in Python and is in my queue of to-do items.  Any help is welcome!  Thanks.

[2021-03-17 23:37] sbembenek18 commented on #132
OK, we'll take a look at our end as well then. Is there currently a
non-Python working version?

Scott Bembenek, Founder, CEO, CSO
Denovicon Therapeutics <https://www.denovicontx.com/>
1130 Wall St #558
La Jolla, CA 92037
<https://www.denovicontx.com/>

On Tue, Mar 16, 2021 at 8:01 PM Nathan Baker ***@***.***>
wrote:

[2021-03-18 02:54] sobolevnrm commented on #132
@intendo Do you know if we have a historical working version of this?

[2021-03-18 22:00] intendo commented on #132
No, it does not look like we have been building the binaries in the tools directory since before I joined the project. I checked and the tools are not being built in APBS 1.5. There is CMake support for building them and I updated and tested it on the main branch. The newest build, https://github.com/Electrostatics/apbs/actions/runs/665807719, for Mac and Ubuntu. I downloaded the APBS-3.1.3.Darwin

[2021-03-22 12:37] sobolevnrm commented on #131
That's odd -- for some reason I thought it was supported natively in APBS but it isn't listed in our documentation (https://apbs.readthedocs.io/en/latest/using/input/elec/write.html).

@intendo and @Eo300 -- what do we use in the APBS web interface to generate Cube files for 3dmol?

[2021-03-22 12:38] sobolevnrm commented on #132
Thanks, @intendo.  @sbembenek18 does this work for you?

[2021-03-22 17:08] intendo commented on #131
The only mention of cube is in the FETK software. The documentation seems to indicates that OpenDX is the format for APBS files.
@Eo300 sent me the following:

[2021-03-22 17:10] Eo300 commented on #131
The script currently in use: https://github.com/Electrostatics/apbs-rest/blob/master/src/runner/uploader/dx2cube.py

Original (from old repo): https://github.com/Electrostatics/apbs-pdb2pqr/blob/b3bfeecbf4cfd04bf53f983e1a8064ef250bf25f/pdb2pqr/dx2cube.py

[2021-03-22 18:44] sobolevnrm commented on #131
Wow; that is a seriously ugly script.  I'll create a new issue to upgrade.

[2021-03-22 18:45] sobolevnrm opened #134 "Beautify the dx2cube script"
The script currently in use: https://github.com/Electrostatics/apbs-rest/blob/master/src/runner/uploader/dx2cube.py

Original (from old repo): https://github.com/Electrostatics/apbs-pdb2pqr/blob/b3bfeecbf4cfd04bf53f983e1a8064ef250bf25f/pdb2pqr/dx2cube.py

_Originally posted by @Eo300 in https://github.com/Electrostatics/apbs/issues/131#issuecomment-804238791_

[2021-03-22 20:29] sbembenek18 commented on #131
Thanks very much for following up on this!

Scott Bembenek, Founder, CEO, CSO
Denovicon Therapeutics <https://www.denovicontx.com/>
1130 Wall St #558
La Jolla, CA 92037
<https://www.denovicontx.com/>

On Mon, Mar 22, 2021 at 11:45 AM Nathan Baker ***@***.***>
wrote:

[2021-03-22 20:45] sbembenek18 commented on #132
Hey,

I'm using the binary install for APBS-3.0.0 (under Centos 7), FYI.

Under Apps/APBS-3.0.0/share/apbs/tools/bin 'similarity' is compiled and it
does seem to work in general. The segmentation fault occurred for a
particular (small) molecule, but it does not occur for the several
molecules (68) we have looked at so far; I'll need to investigate further
to better understand the issue with that o

[2021-03-22 21:06] sobolevnrm opened #135 "Reimplement similarity code in Python"
Hey,

I'm using the binary install for APBS-3.0.0 (under Centos 7), FYI.

Under Apps/APBS-3.0.0/share/apbs/tools/bin 'similarity' is compiled and it
does seem to work in general. The segmentation fault occurred for a
particular (small) molecule, but it does not occur for the several
molecules (68) we have looked at so far; I'll need to investigate further
to better understand the issue with that o

[2021-03-22 21:07] sobolevnrm commented on #135
Great!  I just created a separate issue for reimplementing in Python (although its a subset of something else I'm supposed to be working on) and will close this issue for now since you have a working solution.

[2021-03-22 21:08] sobolevnrm commented on #132
Great! I just created a separate issue for reimplementing in Python (although its a subset of something else I'm supposed to be working on) and will close this issue for now since you have a working solution.

[2021-03-22 21:08] #132 closed

[2021-03-22 23:39] sbembenek18 commented on #132
Thanks

[2021-03-22 23:54] sbembenek18 opened #136 "psize.py"
When using psize.py with my PQR file (psize.py myfile.pqr) it gives:

No ATOM entires in file!

However, when I use the Pymol plugin with the same PQR and the .mol to match, it works just fine.

And when APBS using the PQR file (after the cglen & fglen have been set), it works fine as well.

1) Am I running psize.pt at the commandline incorrectly?
2) Do I correctly understand that the input file v

[2021-03-24 05:48] sbembenek18 commented on #132
Quick follow up on 'similarity' ...

I do note that a segmentation fault occurs with 'similarity' when going
from a grid size of 65 to 97  -- for a size of 33, it works (aside from the
problem molecule I mentioned before & that I am still confirming).

On Mon, Mar 22, 2021 at 2:08 PM Nathan Baker ***@***.***>
wrote:

[2021-03-24 05:55] sbembenek18 commented on #132
Rather, for a size of 33 and 65 it works.

Scott Bembenek, Founder, CEO, CSO
Denovicon Therapeutics <https://www.denovicontx.com/>
1130 Wall St #558
La Jolla, CA 92037
<https://www.denovicontx.com/>

On Tue, Mar 23, 2021 at 10:45 PM Scott Bembenek ***@***.***>
wrote:

[2021-03-26 01:45] sobolevnrm commented on #136
Hi --

Much of the `psize.py` functionality has been integrated into [pdb2pqr](https://github.com/Electrostatics/pdb2pqr); we are planning to deprecate the `psize.py` tool provided with APBS.  Have you tried PDB2PQR?

Thanks,

Nathan

[2021-03-27 06:06] sbembenek18 commented on #136
Will do -- thanks!

[2021-03-27 08:09] sbembenek18 commented on #136
Unfortunately, I am unable to generate a PQR for the ligand. I'm using the command:

pdb2pqr30 --ff=PARSE --ligand=frag.mol2 frag.pdb out.pqr

I actually have a pqr file that works with APBS -- I'm really looking for a way to generate a (new) input for APBS and get parameter suggestion therein. However -- as noted -- psize isn't working with my current PQR, so I am not sure how to get the info in

[2021-03-27 20:31] sobolevnrm opened #137 "pip install -e . fails on master"
[code]

[2021-03-27 20:33] sobolevnrm commented on #137
@orbeckst and @speleo3 -- I would very much like to ditch versioneer in lieu of the simpler approach I use in, for example, https://github.com/Electrostatics/osmolytes/blob/main/osmolytes/__init__.py

Any concerns?

[2021-03-27 20:42] intendo commented on #137
You could fix this problem by adding versioneer to the requirements.txt. NOTE: I am also not a big fan of versioneer.

There is a newer (and maintained) alternative at [dunamai](https://pypi.org/project/dunamai/) but I have not tried it.

So just hard code the version number in setup.py?

[2021-03-27 20:48] sobolevnrm commented on #137
That would be my preference -- its much simpler.

[2021-03-27 21:01] speleo3 commented on #137
Works for me. Didn't know about `importlib.metadata.version` yet, but looks very reasonable.

[2021-03-27 21:10] intendo commented on #137
I pushed an update to conf.py so that it uses `importlib.metadata.version` so that you don't have to hardcode the version in the docs or use verioneer or append the path to get to `pdbx.version`.

[2021-03-27 22:41] orbeckst commented on #137
No concerns — whatever works.

[2021-03-27 22:51] sobolevnrm commented on #137
Great!   I'll work on this tonight.  Thanks.

[2021-04-02 05:36] sbembenek18 opened #140 "Similarity Tool"
While I am able to successfully use the similarity tool over a range of small molecules, when going beyond a grid size of 65 (for the input DX files), for example 97, 161, I consistently get a segmentation fault.

[2021-04-03 15:57] sobolevnrm opened #141 "Fix extraneous <br/> in docs"
Fix https://apbs.readthedocs.io/en/latest/using/input/elec/bcfl.html

[2021-04-04 01:23] sobolevnrm opened #143 "Some of the documentation is too specific"
Force and energy option descriptions are used in multiple calculation types but are described as specific to "apolar":  https://apbs.readthedocs.io/en/latest/using/input/generic/calcforce.html

[2021-04-05 01:50] sobolevnrm opened #144 "Remove stray HTML from documentation"
For example, https://apbs.readthedocs.io/en/latest/using/input/generic/swin.html

[2021-04-05 05:20] intendo commented on #144
I fixed this in #141

[2021-04-06 16:25] #141 closed

[2021-04-06 16:25] #144 closed

[2021-04-07 15:53] #65 closed

[2021-05-27 02:05] biswasakash95 opened #145 "ERROR WHILE COMPILING"
/home/akash/APBS/apbs/tools/python-pybind/bind_valist.cpp: In function ‘void bind_valist(pybind11::module&)’:
/home/akash/APBS/apbs/tools/python-pybind/bind_valist.cpp:79:30: error: ‘Valist_getAtomList’ was not declared in this scope
   79 |     .def("getAtomList"    , &Valist_getAtomList)
      |                              ^~~~~~~~~~~~~~~~~~
/home/akash/APBS/apbs/tools/python-pybind/bind_valist

[2021-05-27 02:06] sobolevnrm commented on #145
@intendo do you have thoughts on how to fix this?  Thanks!

[2021-05-27 15:29] intendo commented on #145
I would need to know more information like:
- OS and version (e.g., Linux Ubuntu 18.04)
- Compiler and version (e.g., g++-9)
- Python  version (e.g., 3.6.7)
- The steps used to produce the output.

[2021-05-27 15:46] intendo commented on #145
Thanks Akash, can you tell me what version of Linux?
Is it Centos or Ubuntu or Mint?
What version of Linux (e.g. `cat /etc/os-release`)
Did you get the source code from [Release 3.0.0](https://github.com/Electrostatics/apbs/releases/tag/v3.0.0) or the latest version?
The problem looks like Pybind11 is not finding files.
If you don't need the Python interface, I would recommend using the `-DENABLE_

[2021-05-27 15:56] biswasakash95 commented on #145
Hello Darren,

I took the source code from the site you mentioned.
The version of Ubuntu Ubuntu 20.04.2 LTS
I will try with the -DENABLE_PYTHON=OFF

If I download the Linux version how do I install it. Because in the Linux
version of the code there are only four folders
bin, include, lib and share and there is no installation guide present in
the folder. I am sorry if I am asking too much.

Regard

[2021-05-27 16:40] biswasakash95 commented on #145
Hello Darren,

These are the steps that I am using:

1. git clone https://github.com/Electrostatics/apbs
2. cd apbs/
3. git submodule init
4. git submodule update
5. mkdir build
6. cd build
7. export APBS_BUILD_DIR=`echo $(pwd)`
8. export INSTALL_DIR=$HOME/apbs
9. export PATH=$INSTALL_DIR/bin:$PATH
10. cmake -DCMAKE_INSTALL_PREFIX=$INSTALL_DIR -DENABLE_PYTHON=OFF
-DBUILD_SHARED_LIBS=ON -DENABLE_GE

[2021-05-27 17:18] intendo commented on #145
Great, thanks Akash for sharing how you got it to work. I am going to close this issue.

[2021-05-27 17:18] #145 closed

[2021-06-01 10:32] srdjan125 opened #147 "Problem while calculating protein-protein electrostatic energy"
Hello,

I want to calculate electrostatic energy between two proteins while their distance is varied, ie initial center-to-center distance when two proteins are in close contact is around 3nm, and final distance when two proteins are far away from each other is 30nm.
 I want to calculate their electrostatic interaction energy as a function of their distance (Coloumb energy substracted by solvation

[2021-06-02 02:05] sobolevnrm commented on #147
This seems more appropriate for a discussion than an issue.  I'm closing this and will respond to #146.

[2021-06-02 02:05] #147 closed

[2021-06-07 19:22] sobolevnrm commented on #16
Oops -- PR didn't fully resolve this issue.

[2021-06-18 13:21] sobolevnrm opened #151 "Add mg-para tutorial"
### Discussed in https://github.com/Electrostatics/apbs/discussions/150

<div type='discussions-op-text'>

<sup>Originally posted by **srdjan125** June  8, 2021</sup>
  Hello,

I would like to ask for help because I have several issues which are all connected to main problem:

I am trying to make APBS calculations on as large protein system, however after running psize.py program, I get recommenda

[2021-06-25 20:01] sobolevnrm opened #156 "Clean up documentation "todo" list."
See https://apbs.readthedocs.io/en/latest/todo.html

[2021-07-01 05:50] namus commented on #7
For some reason, it is not the case for me. After running cmake, in the CMakeCache.txt file I found:
ENABLE_OPENMP:BOOL=OFF

I had to turn it ON to enable OpenMP. Also, the current binary downloaded from github doesn't run on multiple threads as mentioned in the original issue. So I guess the issue still persists, but can be resolved by compilation from source code after enabling OpenMP manually a

[2021-07-05 18:47] sobolevnrm opened #160 "Double check pytest raises vs. xfail"
@intendo can you please check your past tests for the use of `pytest.raises` vs. `pytest.mark.xfail`?  I'd like to follow https://docs.pytest.org/en/6.2.x/assert.html#assertions-about-expected-exceptions and only use `xfail` for things we need to fix.

I'm planning to mark the test that makes #159 fail as `xfail` but wanted to make sure we were using it consistently.

[2021-07-12 16:00] intendo commented on #27
Closed by PR #161

[2021-07-12 16:00] #27 closed

[2021-07-22 18:50] intendo opened #162 "Add Python and GPU Boundary-integral solver for electrostatics (PyGBe) to APBS"
**Is your feature request related to a problem? Please describe.**
We would like to add PyGBe to APBS to provide a new solver for scientific users

**Describe the solution you'd like**
The PyGBe solver would be added and work very similar to the BEM solver

**Describe alternatives you've considered**
Having users create PQR files and then run PyGBe by hand which could introduce human errors.

[2021-07-27 00:53] sbembenek18 commented on #140
I wanted to follow up on this and see if this issue has been resolved. thanks.

[2021-07-27 02:01] sobolevnrm commented on #140
Sorry; I have not done anything about this yet.

[2021-07-27 17:57] sbembenek18 commented on #140
No worries. Thanks.

[2021-08-03 21:28] intendo opened #163 "Refurbishing the APBS build and CI process"
Modify top level CMakeLists.txt to replace External Project for building FETK.
Download FETK release compressed files.
Mimic linking in FETK like we do with NanoShaper
Update LIBRARY dependencies and INCLUDE directives.

[2021-08-20 14:17] xiki-tempula opened #165 "charge, dielx, diely and dielz cannot be used to reproduce the result."
**Describe the bug**
A clear and concise description of what the bug is.
Say if I run an APBS calculation where I export the charge, dielx, diely and dielz. The mol.pqr is an ordinary file with radii and partial charge.
[code]

 I expect that I run the same calculation with these values will give me the same result.
[code]

Note that the ref.pqr an ion with zero charges.

[code]

The resulting esp

[2021-08-21 23:18] sobolevnrm opened #166 "examples/geoflow/gly.pqr is incorrectly formatted"
**Describe the bug**
Something is wrong with the structure of this PQR file.

**To Reproduce**
Steps to reproduce the behavior:
1. Run APBS on `glycerol.in` in that directory.

[2021-08-21 23:44] sobolevnrm commented on #166
One problem appears to be that the columns were delimited with tabs rather than spaces.  @intendo does your new PQR parser allow for tab-delimited PQR files?

[2021-08-21 23:44] sobolevnrm commented on #166
However, when I replace all of the tabs with single spaces, the file still won't parse -- even though this should be a legitimate PQR file.

[2021-08-21 23:46] sobolevnrm commented on #166
Never mind; it looks like the PQR file is missing a residue number.

[2021-08-22 02:08] #166 closed

[2021-09-05 16:18] jbardhan commented on #165
Hi,

Thank you for raising this! I am working on reproducing this error with an example of my own.

Jay

[2021-09-05 17:23] jbardhan commented on #165
Hi @xiki-tempula

I believe that this set of files reproduces the error you observed?

Thanks very much,
Jay
[165.tar.gz](https://github.com/Electrostatics/apbs/files/7112050/165.tar.gz)

[2021-09-07 19:29] xiki-tempula commented on #165
@jbardhan Yes, as you can see the results are not the same so I was thinking if there is something that I need to pay attention to?

[2021-09-15 12:04] sobolevnrm opened #172 "API docs are not being built"
There's plenty of documentation (e.g., https://github.com/Electrostatics/apbs/blob/master/apbs/input_file/read.py) but ReadTheDocs isn't building it (https://apbs.readthedocs.io/en/latest/api/index.html#module-apbs).  The documentation builds fine locally in Sphinx.

[2021-09-27 12:17] ESgit2021 opened #173 "Calculation of electric field"
Dear,
I have a very simple system of highly charged sphere in ionic solution (1M). I would like to write out the gradient of the electrostatic potential (electric field) for the whole grid in all three directions. Following the example of the write out method for edens property (in the formula of which the gradient of the electric potential appears), I added a printout (in vpmg.c) to the src/mg co

[2021-09-27 12:36] sobolevnrm commented on #173
Is this code https://github.com/Electrostatics/apbs/blob/34fd2bbacb84e1289490fe746ba0cc7553a23ce2/src/mg/vgrid.c#L379 what you're looking for?

[2021-09-27 12:48] ESgit2021 commented on #173
Yes, i want to calculate the gradient of elec. potential on all points of a grid. So I figure this is the part of the code, (in vgrid.c) where it is calculated and i call this values (so gradient of potential on all points of the grid) into the vpmg.c to write it out with the same procedure as other features are written out (edens, ndens, qdens,...). So I already corrected all the other parts of t

[2021-09-30 18:18] mboisson opened #176 "Source build broken because of reliance on submodules"
**Describe the bug**
I am attempting to build source. Your documentation rightfully states:
[code]

Therefore, I download a release from the Releases page:
https://github.com/Electrostatics/apbs/releases/tag/v3.0.0

The problem is that none of the externals that rely on submodules include any `.git` folder, nor any source code. Ideally, the releases would include those submodules with their code c

[2021-09-30 23:34] sobolevnrm commented on #176
I think @intendo or @nsoblath has been working on a fix for this.  I hope one of them will respond to this thread.

[2021-10-03 15:54] sobolevnrm opened #177 "Cannot build APBS source following RTD instructions"
**Describe the bug**

`bash .build.sh` does not work on Ubuntu 20.04.3 (WSL).

**To Reproduce**

Steps to reproduce the behavior:

1. `git pull` on master
2. `bash .build.sh`
3. See error:

[code]

**Expected behavior**

[Our documentation](https://apbs.readthedocs.io/en/latest/getting/source.html#get-source-directly-from-github) claimed this would work! :)

[2021-10-03 18:10] intendo commented on #177
This is problem with WSL and bash scripts in general. I am assuming that you are using WSLv2.

You will probably need to run `dos2unix .build.sh` or the following to resolve the newline issue:
[code]

Also, I don't know what `uname -s` returns on WSL so you may have modify line 12 or 13 to be the output of `uname -s`; or just add the following on line 2:
`export CC=gcc-9; export CXX=g++-9`

[2021-10-03 18:26] intendo commented on #176
@mboisson I am sorry you are having problems. We are currently working on updating the APBS build system.

The 3.0.0 release version was mostly tested for the binary releases on Windows, Mac, and Linux. If you need to build from source, then you should follow the [instructions](https://apbs.readthedocs.io/en/latest/getting/source.html#get-source-directly-from-github) and ignore the warning in the

[2021-10-03 18:45] sobolevnrm commented on #177
D'oh.

[2021-10-05 18:21] mboisson commented on #176
Thanks. I may try that in the future. However, I have now realized that my user wants the latest version (I think I saw it was 3.1.2), but I could not find an actual release for that version (only for 3.0.0). I told my user I could not install it until this is sorted out, but they could try installing it themselves.

[2021-10-21 10:02] Francis4coppola opened #194 "APBS do not produce .dx file output"
Hi, I'm using PDB2PQR and APBS web server, the translation from .pdb to .pqr works well, after that the input file for the analysis made by APBS  .pqr and .in were used. At the end the output file produced by APBS are:

core.15    11.83 GB

io.mc    10.49 KB

apbs-metrics.json    648 Bytes

apbs.stderr.txt    249 Bytes

apbs.stdout.txt    4.81 KB

missing the .dx file that I'm going to use in Chim

[2021-10-28 16:25] mmaldo520 opened #178 "Dx file not produced on webserver"
Hello,
I have not been able to get a .dx output using the pdb2pqr and apbs webservers for a particular molecule. I thought it might be an issue with the ligands, so I deleted them and re-submitted, but I am still unable to get a .dx file. (I can get the .dx starting with other pdbs.) The most recent job IDs are: kh8ryc5dcl and f6czyesay6.

Could you help me figure this out?

Thank you

[2021-11-02 11:41] deekshatcb opened #180 "negative potentials on atoms of positively charged residues"
I want to calculate potential on specific atoms of some residues in a protein. From the .dx file (using the interpolate function) I was extracting the potentials on the grid points nearest to the atoms of interest, some of which happens to be NZ atoms of lysine. I am getting negative potentials. Is it normal? or am I doing something wrong?

[2021-11-02 15:39] sobolevnrm commented on #180
Can you please say more about how you're performing the calculation?  Is this for a single calculation or for the difference of two calculations (e.g., for solvation energy and reaction potential)?

Note that you can get the value of the potential at an atom center using [write atompot](https://apbs.readthedocs.io/en/latest/using/input/old/elec/write.html).

[2021-11-02 15:39] #180 closed

[2021-11-02 19:44] nsoblath commented on #163
In a major example of scope creep, work on this issue ballooned to include:
* The FETK changes mentioned above
* An alternate build for FETK using FetchContent instead of ExternalProject
* Updating the build systems for geoflow_c and pb_solvers
* Fixing bugs in geoflow_c and pb_solvers
* Changing the inclusion of TABI-PB, geoflow-c, and pb_solvers to use FetchContent instead of using ExternalProje

[2021-11-02 19:51] intendo commented on #163
Are we ready to remove the Appveyor config and github action?
In other words, do we have a release that works on Windows, MacOS, and Linux?

[2021-11-02 19:56] nsoblath commented on #163
I believe we're ready to remove the AppVeyor config.  Actually, I just pushed that change.  The GitHub Actions build now works for all three systems.

It'd be worth verifying that the built packages work for end users.  Do you have a suggestion of how to do that?  Is there a test(s) that could be run just using the built artifacts that would replicate something an end user would do?

[2021-11-02 21:00] intendo commented on #163
I added some comments to the PR so that tests can be build and packages built. I think there are Artifacts saved in the Github Actions. We should be able to download each of the Artifacts for Windows, Mac, and Ubuntu and install them and run a few of the `examples` to see if apbs produces output.

[2021-11-03 23:55] nsoblath commented on #163
I replied to the comments about the testing and packaging.  I'll fix the documentation about the Python version too.

I think I have enough information to attempt an application from the `examples` directory.  I'll try implementing a workflow to download the built artifacts and run an example.

[2021-11-05 12:40] sobolevnrm opened #183 "Debye length output should say "undefined" (or not be listed) at zero ionic strength"
Hi @rwxayheee --

The [Debye length](https://en.wikipedia.org/wiki/Debye_length) isn't defined at zero ionic strength so I just had the output report "0".  This should probably be "infinite" or "undefined" instead.

In general, Poisson-Boltzmann theory does OK treating non-specific ion behavior at relatively low ionic strengths.  I get skeptical of PB results when any of the following conditions a

[2021-11-10 21:48] intendo commented on #99
Now that @nsoblath has APBS building with GitHub Actions, this problem is resolved.

[2021-11-10 21:48] #99 closed

[2021-11-10 22:05] intendo commented on #32
@nsoblath can you confirm that the binaries are stripped? I believe they are but I wanted to check before closing out this issue.

[2021-11-10 22:06] intendo commented on #107
@nsoblath has addressed the cause of this issue with the prebuilt version of GeoFlow so we can close this.

[2021-11-10 22:06] #107 closed

[2021-11-10 22:07] intendo commented on #81
We went a different route and precompiled the external dependencies. We may want to revisit this problem in the future as we move APBS to Python.

[2021-11-10 22:08] #81 closed

[2021-11-10 22:29] intendo opened #187 "Missing iapbs library in APBS binary"
**Describe the bug**
User's have sent email describing that the get an error message of missing the libiapbs.so library.
@nsoblath can you verify that the iapbs.a is linked in with the apbs binary?

[2021-11-10 22:30] intendo commented on #70
I believe this is addressed in @nsoblath new build for APBS and will be in the next release.

[2021-11-10 22:30] #70 closed

[2021-11-10 22:32] intendo commented on #130
I am sure that since we are using Ubuntu 20.04 in the Github Actions build that this has been resolved.

[2021-11-10 22:32] #130 closed

[2021-11-10 22:37] intendo commented on #7
This may have been a result of the complicated CMake build system with all the external dependencies. We have revamped the CMake build system to use pre-built versions of all the external dependencies with greatly reduces the complexity (and time) to build APBS.

[2021-11-10 23:23] intendo commented on #178
The jobs exit with and exit status of -9 which typically means that the process runs out of memory. The generated PQR file is 12MB so it is probably exceeding the amount of memory available on our images (current limit is 16 Gbytes of memory).

Can you run these on your local computer?

[2021-11-14 15:05] sobolevnrm opened #188 "Zero-radius atoms should not contribute to molecular surface"
Hello --

`srfm mol` and `srfm smol` will generate surface contributions from zero-radius atoms.  They probably shouldn't do that but that's a low-priority bug to fix.

What are you trying to accomplish with the dummy atom?  There may be other ways to get the information you're looking for.

Thank you

_Originally posted by @sobolevnrm in https://github.com/Electrostatics/apbs/discussions/186#disc

[2021-11-26 23:21] Robinbrasil commented on #102
Okay, I actually dealt with something similar earlier today. First answer on Github, here I go.

Here is what `ldd $(which apbs)` returns me:

As you can guess, "/archives/programas/apbs/APBS-3.0.0.Linux/lib" is the lib directory from apbs 3.0. I saw that most of your missing libraries (aside from libreadline.so.7 and libtinfo.so.5) were from apbs' lib directory, so I can only assume that the sett

[2021-11-28 02:55] sobolevnrm commented on #102
Thank you!  @intendo and @nsoblath -- what do you think?

[2021-11-29 18:39] nsoblath commented on #187
@intendo The default configuration when building APBS is to have iAPBS disabled, and I haven't tried using it.  I don't know what version the users who see this bug are using, but at least for future releases I can look at including IAPBS.

[2021-11-29 22:23] nsoblath commented on #187
Starting with c9b61f9558da240212cadf6078218f367f8f47e2 (currently on branch `nsoblath/issue_163`) I've made the build include iAPBS by default, and have checked that the library `libiapbs.a` is in fact linked into the `apbs` executable.

This improvement will be built into the new release of APBS once #163 is complete, and this matter is now covered by that issue.  Thanks!

[2021-11-29 22:23] #187 closed

[2021-11-29 22:23] nsoblath commented on #163
Additional change now covered by this issue: iAPBS build, as discussed in #187.

[2021-11-30 09:39] StefanGIT opened #191 "spack configuration for apbs (and possibly for pdb2pqr)"
We currently want to develop a Jupyter notebook on a colaboration site for the Human Brain Project (https://ebrains.eu/). To enable apbs in the backend container for the notebook one needs to provide a spack configuration of the software (spack is a software package manager for HPC: https://spack.io/ ).

Is there a respective configuration for spack in development or available on your site?

[2021-11-30 13:44] sobolevnrm commented on #191
Hi @StefanGIT --

You are the first user to suggest a spack package for our software.  We can definitely investigate this option but we're trying to reduce the number of distribution mechanisms we need to maintain.

Thank you,

Nathan

[2021-11-30 18:51] intendo commented on #102
I am pretty sure this is taken care of with the changes that @nsoblath has been making. I don't think this will be an issue in the upcoming release.

[2021-12-01 17:02] nsoblath commented on #102
The new release should solve these problems, I believe.  The automatic usage testing I'm putting together currently uses these steps to run APBS on an Ubuntu machine:

1. Install dependencies: `libsuitesparse-dev`, `libsuperlu-dev`, and `libopenblas-dev` installed with `apt`
2. Download the zip file with the pre-built binaries
3. Unzip and run

Step 3 could be done like this:
[code]

[2021-12-09 22:55] rginarr opened #192 "Mobile ion species not being applied to EP calculations"
When doing electrostatic potential calculations on a PDB file in the browser APBS server, after introducing data in the mg-auto Options --> "MOBILE ION SPECIES PRESENT IN THE SYSTEM (OPTIONAL)" option, the ions don't seem to be taken into account in the final input file*.
Find attached an image of the values introduced.

![Mobile ion species](https://user-images.githubusercontent.com/95888518/1454

[2021-12-27 10:18] BJWiley233 opened #193 "make error file: `Makefile.in` in fetk-maloc-configure"
I am getting a few errors compiling on MaOS using clang/clang++ and the SDK.  This is my code

[code]
I get errors such as:
1. Before even Making fetk it makes bem.  These errors go away when I remove CFLAGS and INCLUDE_PATH (make sense as I can just added them in the CMakeLists.txt?)
[code]
2. Errors with option for GeometricFlow. These errors also go away when I remove CFLAGS and INCLUDE_PATH
[c

[2021-12-27 11:04] BJWiley233 commented on #193
It's obviously an automake issue but I am not a developer so would not know how to solve.

[2022-01-01 03:41] aaomoniyi opened #195 "Installation"
Dear All,

Compliments of the season!
I tried to compile APBS from the source code and the get the error below. Please I need your help, I know something went wrong but I could not figure it out. I'm a beginer.

cmake -DCMAKE_INSTALL_PREFIX=/opt/apbs -DENABLE_BEM=OFF -DENABLE_iAPBS=ON -DENABLE_PBAM=ON ..

CMake Deprecation Warning at CMakeLists.txt:43 (cmake_policy):
  The OLD behavior for policy

[2022-01-03 03:20] BJWiley233 commented on #195
Can you paste your entire `cmake -DCMAKE_INSTALL_PREFIX=/opt/apbs -DENABLE_BEM=OFF -DENABLE_iAPBS=ON -DENABLE_PBAM=ON ..` after the `..` ?  Did you add `-DENABLE_PYTHON`?  Also which operating system are you using?  Try making the prefix /usr/local/apbs.  This shouldn't make a difference.

[2022-01-03 04:01] BJWiley233 opened #196 "punc/scr/superlu/punc submodules superlu and vf2c headers don't get into build/fetk/include/punc"
When I run cmake from apbs build directory with `-DENABLE_FETK=ON` the headers I need for punc do not get copied over from [punc/scr/superlu/punc](https://github.com/Electrostatics/FETK/tree/0fe0adb34b815a0866f1ed2d3886936f3bae9c69/punc/src/superlu/punc) (12 header files / 11 minus old_colamd.h) or [punc/scr/superlu/vf2c](https://github.com/Electrostatics/FETK/tree/0fe0adb34b815a0866f1ed2d3886936f

[2022-01-03 04:13] BJWiley233 commented on #195
You can also try install a conda installation of python as it will be easier to use APBS, PDB2PQR, and psi4 (if you intend to use that package in your work)

[2022-01-03 05:01] BJWiley233 commented on #196
ok so I know why vf2c.h is missing from the punc/vf2c module.  You are missing it in punc/src/vf2c/CMakeLists.txt line [21](https://github.com/Electrostatics/FETK/blob/0fe0adb34b815a0866f1ed2d3886936f3bae9c69/punc/src/vf2c/CMakeLists.txt#L21).

It should read to include `punc/vf2c.h`:
[code]

[2022-01-03 18:58] intendo commented on #195
@aaomoniyi sorry for the confusion. This repo uses CMake to build APBS and all the components. You can look at the Github Actions file, https://github.com/Electrostatics/apbs/blob/master/.github/workflows/build.yml, to see how you can build APBS using CMake on Windows, Mac, and Linux.

[2022-01-03 20:48] nsoblath commented on #196
Thanks for pointing out this problem, @BJWiley233.  FETK will be fixed shortly, and the build is significantly different than what's used as a submodule of APBS v3.0.  All of these changes will be addressed in the upcoming release of v3.3.0.

[2022-01-03 20:48] #196 closed

[2022-01-03 21:50] nsoblath commented on #195
I think there is probably an unfortunate bug in how FETK was built by APBS on the master branch (as of this writing, at least, at commit 34fd2bbacb84e1289490fe746ba0cc7553a23ce2).  This has been fixed in the version being prepared for release shortly.

[2022-01-03 22:27] aaomoniyi commented on #195
I did not add this -DENABLE_PYTHON. The operating system is ubuntu 20.04. The entire code I used was cmake -DCMAKE_INSTALL_PREFIX=/opt/apbs -DENABLE_BEM=OFF -DENABLE_iAPBS=ON -DENABLE_PBAM=ON ..

[2022-01-04 04:47] BJWiley233 commented on #195
OMG so silly I thought `..` meant rest of command and not the parent directory.  WOW.  Try with `-DENABLE_PYTHON`

[2022-01-04 05:26] #193 closed

[2022-01-04 05:33] BJWiley233 commented on #196
Thanks @nsoblath.  I think my greatest hinderance of building the submodules, i.e. fetk, from the APBS CMakeLists.txt is that despite packages being found by the APBS CMakeLists.txt, this does not trickle down to fetk's CMakeList.txt and it will try to make some of the src's such as superlu and blas.  I added find_package superlu to just to double confirm this.

from main CMake call to APBS CMakeL

[2022-01-04 08:12] nsoblath commented on #196
@BJWiley233 That's a really good point.  And this is something that's hopefully addressed in the new builds of APBS and FETK.  (if you're interested in seeing the changes that are being made, you can find the most recent changes in the branch `nsoblath/issue_163`, but please understand that it's not yet a production release.)

[2022-01-04 16:51] nsoblath opened #198 "Multithreaded Build"
* Cross-platform multithreaded build
* Based on build improvements in #163
* Using existing OpenMP support

[2022-01-08 16:15] sobolevnrm commented on #178
I'm going to close this since @mmaldo520 hasn't responded.

[2022-01-08 16:15] #178 closed

[2022-01-08 16:17] #194 closed

[2022-01-09 11:41] BJWiley233 commented on #176
I feel like I am missing something for the binary install:

[code]

[2022-01-10 17:40] intendo commented on #176
@BJWiley233, The problem is more than likely that you don't have gcc-9 installed on your Mac system and the apbs binary needs the GCC C++ runtime libraries. You should be able to use homebrew to install gcc (`brew install gcc`) and that may just fix everything. If that doesn't work you may need to install OpenMP (`brew install libomp`).

[2022-01-10 20:01] BJWiley233 commented on #196
Thanks @nsoblath.  I just tried compiling and still get the same `Undefined symbols for architecture x86_64` issue while linking `libPBAMLib.dylib`. I think there is an issue with respect to using the apbs `generic/*.h` header files in the submodules before apbs even gets compiled or they are not linking correctly.  For instance [PBAMWrap.h](https://github.com/Electrostatics/pb_solvers/blob/db4fc6

[2022-01-10 22:40] nsoblath commented on #196
@BJWiley233 You're right about that being a problem too.  There were at least two places where APBS was using an external package both as a dependency of and dependent on APBS. These have been resolved in the version being prepared for the v3.3.0 release.

[2022-01-10 22:55] BJWiley233 commented on #196
Sounds good.  Looks like @intendo fixed similar stuff in @106

[2022-01-14 02:50] BJWiley233 commented on #176
So I had tried install gcc-9 before I posted.  Homebrew will installs bottles with binary into `/usr/local/bin/` and I have gcc 9,10, and 11 in my `/usr/local/opt/` folder so defintely confused.

[code]

[code]

[2022-01-14 11:25] BJWiley233 commented on #176
OMG now I see it.  It's getting some stuff from the other binary compiled from my professor and Nathan Baker back in 2010!  That's funny.

[2022-01-14 17:25] mfornace opened #200 "Independence of results to cation radius"
Hi, thanks for the great software first of all. We were running some calculations on RNA molecules with Na and K in solution (with Cl anions). We noticed that swapping Na for K (which just changes the ion radius) did not affect our electrostatic energies measured in APBS.

I diagnosed this to be the result of the behavior mentioned in the documentation that "only the largest ionic radius is used t

[2022-01-14 17:30] sobolevnrm commented on #200
Hello -- this is the expected behavior:  APBS only uses the largest ion radius to set the ion-accessibility map.

Thank you.

[2022-01-14 17:30] #200 closed

[2022-01-15 02:08] zhangyunjiang1 opened #201 "!!! WARNING !!! APBS NOT available !"
!!! WARNING !!!  APBS NOT available !

awk: line 593: function asorti never defined

I would like to ask about this problem. Calling APBA with gmx_mmpbsa will bring the above error message.

[2022-01-15 03:35] sobolevnrm commented on #201
I am sorry but we are not the developers of the gmx_mmpbsa package and are not able to help you with this issue.  Have you tried contacting the GROMACS mailing lists?

[2022-01-15 03:35] #201 closed

[2022-01-16 07:02] BJWiley233 commented on #145
I am having this same issue with exact same functions with AppleClang 13.  It is happening I think because in valist.h [VINLINE_VATOM](https://github.com/Electrostatics/apbs/blob/master/src/generic/valist.h#L97) is defined [here](https://github.com/Electrostatics/apbs/blob/bcd52c6d3646e0c372c657f38af5a656b7c3d158/src/generic/vhal.h#L476) and the only reason I can see this is in Visual Studio, show

[2022-01-17 07:14] BJWiley233 commented on #70
I was able to install with both Clang (after doing some manipulation of the inline stuff) and icc and was able to compile with python bindings.  I also saw that `apbslib.py` was copied  `pdb2pqr/pdb2pka` which I also cannot run.  In addition apbslib.py from the `build/tools/python` directory was not copied into the install directory.  I copied it over but still don't think it works as I get:

[cod

[2022-01-17 17:18] intendo commented on #145
@BJWiley233 the Python code for APBS is still very new and needs significant effort before you will be able to call APBS and solvers from Python. Eventually the plan is to make APBS be written mostly in Python and then you would install it with pip install apbs.

[2022-01-17 23:41] BJWiley233 commented on #145
@intendo thanks for the update/warning so I don't have to spend any more time.  I didn't get it to compile the bindings however.  It seems that may pybind11 module in general might not be able to see the `inline` well with the compiler(s) in general.  Despite Nathan's  2010 inline code and Todd's  2005's python/swig code, the machinery/compiles had been tinkered a bit.

[2022-01-19 11:39] Drvanon commented on #62
As far as I can see, this is still an issue. I just cloned main `git clone https://Electrostatics/apbs` and ran `cd apbs/tools/manip; python psize.py ~/my.pdb` and got
[code]

[2022-01-19 19:46] intendo commented on #62
My guess is that you have another psize.py (/home/robin/external/apbs/tools/manip/psize.py) in your path because line 174 of psize.py should be `if nsmall[i] <= 0:`
What directory did you clone apbs into?
What OS and version of Python are you using?

[2022-01-20 06:01] Drvanon commented on #62
[code]

But also in the git repo I can find this line:
https://github.com/Electrostatics/apbs/blob/34fd2bbacb84e1289490fe746ba0cc7553a23ce2/tools/manip/psize.py#L174

[2022-01-24 23:33] #163 closed

[2022-02-10 17:53] srihas29 opened #207 "Compiling with Python"
Hello apbs developers,

I have a small problem to report. I was trying to compile apbs for using the python interface and encountered some errors.

I ran :

cmake -DCMAKE_INSTALL_PREFIX=$INSTALL_DIR -DCMAKE_BUILD_TYPE=$RELEASE_TYPE -DENABLE_GEOFLOW=OFF  -DENABLE_BEM=ON -DENABLE_FETK=ON -DENABLE_OPENMP=OFF  -DENABLE_PBAM=ON -DENABLE_PBSAM=ON -DENABLE_PYTHON=ON -DENABLE_TESTS=ON -DBUILD_SHARED_LIBS=

[2022-02-11 07:33] srihas29 commented on #207
Hi @intendo,

Yes, I need the python interfaces for custom development.

[2022-02-14 17:36] nsoblath commented on #207
@srihas29: thanks for bringing this issue to our attention.  Both lines 12 and 16 contain syntax errors.  The check of whether `PYTHON_MAX_VERSION` are defined should look like this: `DEFINED PYTHON_MAX_VERSION`.

[2022-02-14 18:21] nsoblath commented on #207
@srihas29 If you're interested, I have a potential fix on branch `nsoblath/issue_207`.  Would you be able to test it and see if it works for you?  My test with the CMake configuration you specified worked.

[2022-02-14 18:44] nsoblath opened #209 "Version shear in the Windows build"
**Description**
Windows build fails because the GitHub Workflow specifies `windows-latest` and using Visual Studio 2019.  It appears that now GitHub Actions has switched `windows-latest` to be Windows 2022, which has a newer version of VS.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the build workflow

**Expected behavior**
Build workflow succeeds

[2022-02-14 21:53] #209 closed

[2022-02-17 09:48] wquc opened #211 "Inconsistent results when switching the order of protein and ligand in PQR file"
Dear All,

I have a PQR file containing a protein with a ligand, and I'd like to caculate properties like electrostatic complementarity based on the output of APBS.

When I switch the order of protein and ligand records in PQR file, i.e.

from
[code]
to
[code]

I noticed a minor difference in the output file:
[code]

[code]

These differences seem to be negligible, however, it will affect subseque

[2022-02-18 20:24] #41 closed

[2022-02-19 13:54] jacob-r-anderson opened #212 "Error while loading shared libraries: libpython3.9.so.1.0"
**Describe the bug**
I downloaded APBS-3.4.0.Linux.zip. I unzipped. I renamed the directory to apbs. I then moved the directory to /home/my_name/apbs.
I edited the .bashrc to include the following.

export LD_LIBRARY_PATH=$HOME/apbs/lib:${LD_LIBRARY_PATH}
export PATH=$HOME/apbs/bin:${PATH}

When I try to run apbs I get the following error:

`apbs: error while loading shared libraries: libpython3.9

[2022-02-19 16:18] sagitter commented on #207
Hi @nsoblath

I used your patch in #208 starting from `APBS-3.4.0` in Fedora 35 + `Python-3.10.2`, i'm obtaining this error ([CMakeOutput.log](https://github.com/Electrostatics/apbs/files/8102571/CMakeOutput.log)):

[code]

[2022-02-20 02:55] sobolevnrm commented on #211
Hello --

The process for placing and optimizing hydrogens is not linear and therefore should be expected to differ if the atom order is altered.  However, as you pointed out, the difference should be small.  There is no preferred order for protein and ligand--although many users place the protein first.

Thank you,

Nathan

[2022-02-20 02:55] #211 closed

[2022-02-21 06:04] Drvanon commented on #195
@nsoblath, I am having the issue with FETK as well. Has your fix been released yet?

[2022-02-22 18:07] nsoblath commented on #195
@Drvanon [v3.4.0](https://github.com/Electrostatics/apbs/releases/tag/v3.4.0) was released a couple weeks ago, and it shouldn't have this problem.  I'll close this issue now, and if you run into any other difficulties, please open a new issue.

[2022-02-22 18:07] #195 closed

[2022-02-22 19:01] nsoblath commented on #212
The `apbs` binary is linked against a library called `libpython3.9.so.1.0`.  The error you're seeing indicates that a library with this name either isn't on your system or isn't being found.  When the release of APBS was made, we built against the same version of Python, so my guess is that we would expect your system to also have `libpython3.9.so.1.0`.

Here are a couple things to check:
* Do you

[2022-02-22 19:45] intendo commented on #212
@nsoblath I vote for the static linking which is in line with the manylinux Python conventions.

[2022-02-24 06:14] tomer196 opened #213 "Broken example - TABI-PB (Boundary Element Method)"
I was trying to run the example of  the TABI-PB (Boundary Element Method) - [link](https://github.com/Electrostatics/apbs/tree/main/examples/bem).
Running the following command: `apbs 1a63_NanoShaper_SES.in`  gave the following error:
![image](https://user-images.githubusercontent.com/44784412/155468114-25f3a7dc-7c89-4b52-b2a9-2c3412d3f06d.png)

I didn't change the input file:
[code]

Anyone knows

[2022-02-24 18:41] intendo commented on #213
Can you tell us what operating system and version you are using?
What version of APBS are you using?

I can't reproduce the problem in Ubuntu 20.

Did you build APBS from src or are you using the newest binary of APBS?

[2022-02-24 18:55] intendo commented on #62
@nsoblath can you add this to your list of issues when you work on the code base again?
The fix is to change line 174 of psize.py from `if nsmall <= 0:` to `if nsmall[i] <= 0:`.

[2022-03-03 08:13] SehrishJamal opened #214 "VASSERT: ASSERTION FAILURE! filename /home/ubuntu/git/apbs-pdb2pqr/apbs/src/mg/vgrid.c"
I am using APBS 3.0.0 (pre-compiled) version as an extension to born profiler for plotting born profile against the pore axis however upon execution with documented parameters every time it shows ASSERTION error.
-------------------------------------------------------------------------------------------------------------------
CALCULATION #6 (complex_S): MULTIGRID
  Setting up problem...
  Vpbe_ct

[2022-03-05 00:02] nsoblath commented on #207
I reopened this issue because the problem was not actually fixed before.  It turns out that CMake `if` statements work differently than I had expected.  I had expected that if you had two clauses in an `if` statement and the first one failed, the second one would not be evaluated.  That turns out not to be the case, which is causing the failures above.  This'll be fixed by nesting two `if` stateme

[2022-03-07 02:49] sobolevnrm commented on #214
Hello --

Can you please clarify?  It appears that the error is with the `draw_membrane` code which is not part of the APBS software suite.  Can you confirm?

Thank you,

Nathan

[2022-03-17 06:24] SehrishJamal commented on #214
Hi,

Thank you for your reply! Yes the standalone APBS suit working fine for me however when I execute it with born profiler which is another code I encountered this error as I can't access the gzip  files where the dielectric maps are written. Are these maps are usually accessible? may be I am something.

Thanks!

[2022-03-30 12:11] FranceCosta opened #218 "cmake error"
**Describe the bug**
I am following the instructions to build APBS from source found [here](https://apbs.readthedocs.io/en/latest/getting/source.html#get-source-directly-from-github).
When I run
`cmake ..`
I get the following error:
`CMake Error at /usr/share/cmake-3.16/Modules/FindPackageHandleStandardArgs.cmake:146 (message):
  Could NOT find UMFPACK (missing: UMFPACK_INCLUDES UMFPACK_LIBRARIES

[2022-03-30 18:35] intendo commented on #218
Have you installed umfpack?
You might have to install umfpack and try again.
Here is one resource for getting umfpack for Ubuntu 20: https://packages.ubuntu.com/focal/libumfpack5

[2022-03-31 08:56] FranceCosta commented on #218
Thank you for the suggestion.
I have installed the newest version (1:5.7.1+dfsg-2) but I am still getting the same error.

[2022-04-01 17:32] nsoblath commented on #218
@FranceCosta Could you please provide the entire output when you run the build script (or when you manually run CMake, if you're doing it that way)?  That would be helpful for us to understand the context of the error.

[2022-04-05 11:39] tubiana opened #220 "Error parsing big files with negative coordinates (concatenated field)"
Hi !

I'm trying to compute an APBS map on a rather big system that contains negatives coordinates under 100A.
Example ;
[code]
Since there is no space between coord X and coord Y, APBS return me this error :
[code]
\
Is APBS read the pqr file and use a space as separator ? What would be the best workaround according to you ?
I could remove the last decimal of the atom but I just wanted to be sure

[2022-04-05 12:09] sobolevnrm commented on #220
Hello.  Which version of APBS are you using?

You can pre-process the file using [PDB2PQR](http://www.poissonboltzmann.org/) with the `--whitespace` option to add spaces between the columns.

[2022-04-13 17:52] rokdev commented on #218
OK, I got a bit of progress with this. Looking at your Docker file helped. The missing libraries on Ubuntu are: `libsuitesparse-dev` and `libopenblas-serial-dev`. After installing these the configuration succeeds. However, the `make` step fails with this:

[code]
Although METIS is listed as an optional component during `cmake`.

I did not get past the `cmake` step on CentOS even with `openblas-dev

[2022-04-13 22:11] nsoblath opened #222 "Configuration/Build Error under Ubuntu and CentOS"
Hi,

I'm getting the same error on both Ubuntu 20 and CentOS 7 with umfpack installed. It looks like BLAS is being built too although it is installed as well.

[code]

_Originally posted by @rokdev in https://github.com/Electrostatics/apbs/issues/218#issuecomment-1098123550_

[2022-04-13 22:13] nsoblath commented on #222
OK, I got a bit of progress with this. Looking at your Docker file helped. The missing libraries on Ubuntu are: libsuitesparse-dev and libopenblas-serial-dev. After installing these the configuration succeeds. However, the make step fails with this:

[code]

Although METIS is listed as an optional component during cmake.

I did not get past the cmake step on CentOS even with openblas-devel and sui

[2022-04-13 22:14] nsoblath commented on #222
@rokdev I moved your comments to a new issue, here, since they appear to be distinct from the error reported in #218.

[2022-04-13 22:53] #212 closed

[2022-04-20 00:14] nsoblath commented on #222
We now have a working CentOS build using `Dockerfile.centos` in branch `nsoblath/issue_222`.

Additionally, we fixed the Ubuntu Docker build by switching to a shared-library build.  There's likely a conflict between the way `libpython.a` was compiled and how APBS is being compiled.  It's probably possible to fix the static build by matching the flags used for `libpython.a`, but there's no strong m

[2022-04-20 17:45] nsoblath commented on #222
@rokdev I hope the additional Docker build (`Dockerfile.centos`) can help you figure out what's missing from your own CentOS-based build.

I do agree that the installation process is a bit fragile, in particular being sensitive to the dependencies that are installed.  Working on this issue has helped us understand some of those considerations.

We're going to move ahead with the PR (#223) that inc

[2022-04-20 17:47] #222 closed

[2022-04-20 18:39] rokdev commented on #222
Thanks, this is very useful! I can now confirm Centos 7 builds OK.

Thank you!

[2022-04-20 18:44] rokdev opened #224 "cmake ENABLE_FETK option not needed anymore?"
As FETK is now required for all APBS builds perhaps the ``ENABLE_FETK`` cmake option is superfluous? Looks like it is being ignored anyway.

[2022-04-20 22:30] nsoblath commented on #224
Completed in #225

[2022-04-20 22:30] #224 closed

[2022-04-22 16:44] nsoblath opened #226 "Update FETK"
Update FETK after Electrostatics/FETK#62

[2022-04-22 22:43] nsoblath commented on #226
Update: I reconfigured how the libraries are linking a bit to fit with the way that FETK builds now.  Seems to be working.

Strangely, on the mac build, arpack now seems to be installed with only dylibs, and no static library.  I've verified that previously apbs was not dynamically linked to libarpack, but now it is.  I'm not sure what changed.

[2022-04-27 14:39] lvotapka opened #228 "Trying to recreate "by hand" Born solvation calculation - problem with solvent radii?"
**Describe the bug**
A clear and concise description of what the bug is.

I'm performing a Born solvation calculation with pen and paper for testing purposes of other software, and I'm trying to check the results of my calculations against APBS results. However, I'm getting a discrepancy between the two unless I use an interior dielectric that neglects the radius of the solvent ions.

**To Reprodu

[2022-04-27 14:49] jbardhan commented on #228
Hi Lane,

First, thank you for the detailed description of what you've done to check the behavior and what you were expecting.

As I read your post, I think there may be a misunderstanding of the Born solvation model used by APBS and most other continuum dielectric models for biomolecule solvation.

The dielectric boundary of a solute is given by the molecular surface (also known as the solvent-ex

[2022-04-27 14:51] jbardhan commented on #228
This link provides a graphic that may be helpful.  https://www.cgl.ucsf.edu/chimerax/docs/user/commands/surface.html

[2022-04-27 14:58] lvotapka commented on #228
Hi Jay,

Thanks for your answer.

Yes, what you are saying makes perfect sense.

I'm taking a look at the APBS manual entry about srfm: https://apbs.readthedocs.io/en/latest/using/input/old/elec/srfm.html#elecsrfm, and I do see that it's describing what you just mentioned about the definition of the dielectric boundary at the molecular surface (not the solvent/ion accessible surface), so I see now

[2022-04-27 15:07] jbardhan commented on #228
Glad to be helpful!  I appreciate why this confounds expectations.  One way it was rationalized to me was, essentially, the water is modeled as a structureless continuum of point dipoles, so anywhere the *interior* of a water molecule (modeled as a sphere) can go, you should have the solvent dielectric.

[2022-04-27 15:21] lvotapka commented on #228
Interesting...

They must have decided that using the molecular surface (not the solvent accessible surface) as the dielectric boundary was a best practice.

Hypothetically, just curious, if one wanted to use the solvent accessible surface (a surface defined by solute atom radius + solvent atom radius) for the dielectric boundary in APBS, how is the easiest way to do that?

[2022-04-27 16:23] jbardhan commented on #228
The easiest way *I* know how to do it is the following
1) add solvent probe radius to each atom's radius in the PQR
2) for the APBS parameter probe radius, set it to 0.0

There may be alternatives!

[2022-04-27 16:39] lvotapka commented on #228
I see. Another way might be to use APBS to generate the dielectric field DX using one PQR with large radii, input that to second APBS calculation that uses a PQR with normal radii - that way one could capture the correct ion-accessible surface for each of the ions with different radii.

Thanks Jay!

[2022-04-27 16:39] #228 closed

[2022-04-27 17:34] nsoblath commented on #226
I modified the mac build to manually build arpack, so the linking issue is fixed.  This issue is now awaiting the release of FETK v1.9.3.

[2022-04-27 17:36] nsoblath commented on #198
See issues with OpenMP support in FETK found by @BJWiley233 in Electrostatics/FETK#63.

[2022-04-28 17:37] #226 closed

[2022-04-28 21:47] rye4ray opened #230 "version `GLIBC_2.29' not found"
**Describe the bug**
Encountered an error when running the pre-compiled Linux version of APBS

**To Reproduce**
Steps to reproduce the behavior:
1. Download `APBS-3.4.0.Linux.zip` from `https://github.com/Electrostatics/apbs/releases` to my home directory
2. Unzip the file and rename the folder to `apbs`
3. Set my `LD_LIBRARY_PATH` and `PATH` environment variables
`export LD_LIBRARY_PATH=$HOME/apb

[2022-04-28 22:54] nsoblath commented on #207
I've simplified the Python search used, and therefore gotten around the problem of the broken syntax and the incompatible libraries being found during the test builds.

[2022-04-28 23:20] nsoblath commented on #230
@rye4ray Thanks for your input and for your efforts that will ultimately help improve APBS.

It looks like the version of glibc that's available for Ubuntu 18.04 (2.27) is not compatible with the version that the pre-compiled version of APBS v3.4.0 was built with (2.31).  I've tested the `apbs` binary with Ubuntu 21.10 (glibc 2.34) and 22.04 (glibc 2.35), and it works in both of those cases, plus

[2022-04-28 23:37] #207 closed

[2022-04-29 17:14] nsoblath commented on #230
Documentation updated in #231

[2022-04-29 17:14] #230 closed

[2022-04-29 18:02] #177 closed

[2022-04-29 18:02] #156 closed

[2022-04-29 18:04] #109 closed

[2022-04-29 18:05] #102 closed

[2022-04-29 18:06] nsoblath commented on #85
This is much improved in v3.4.0, though probably still not perfect.  I'm going to close this issue for now, and if there are still major problems, a new issue can be raised.

[2022-04-29 18:06] #85 closed

[2022-04-29 18:08] nsoblath commented on #46
Hopefully these problems have been effectively resolved by the improvements that went into v3.4.0 and beyond.  If there are problems with the current release, please raise a new issue.

[2022-04-29 18:10] nsoblath commented on #90
We now have a Docker builds for Ubuntu and Centos, as well as the various configurations used in the GitHub Actions builds.   These are all built and tested automatically with GitHub Actions.  Hopefully that satisfies the issues raised here, but please raise a new issue if problems still exist.

[2022-04-29 18:10] #90 closed

[2022-04-29 18:11] nsoblath commented on #21
Installation documentation now exists in the docs directory.

[2022-04-29 18:11] #21 closed

[2022-04-29 18:12] nsoblath commented on #31
I believe this is now outdated, but please raise a new issue if there are still problems.

[2022-04-29 18:12] #31 closed

[2022-04-29 18:13] nsoblath commented on #13
This is now done in v3.4.0

[2022-04-29 18:13] #13 closed

[2022-04-29 19:47] nsoblath opened #233 "Release and Release Build did not Trigger"
**Describe the bug**
The merging of PR #232 should have triggered the Release workflow, which then should have created a tag that would trigger the Build workflow on that tag.  Neither of these things happened.

**To Reproduce**
Steps to reproduce the behavior:
1. Push a commit to the `release` branch.
2. See if the Release action is triggered.

**Expected behavior**
The Release workflow runs and

[2022-04-29 23:20] nsoblath opened #234 "Python package version to update from VERSION"
`apbs/_version.py` should read VERSION to set the version.

[2022-05-29 23:57] sbembenek18 commented on #140
Following up on this. It doesn't seem to be simply a grid size issue as I just got the segmentation fault error for grid size of 65 and had to drop it to 33 to get the similarity calculation to run correctly. Look forward to your thoughts. Let me know if sending the DX file would be useful (can't attach here).

[2022-05-30 22:58] sobolevnrm commented on #140
Yes, providing the DX file and a description of how you're invoking the code would be very helpful.  You should be able to ZIP the DX file and attach it here.  Thanks.

[2022-05-31 00:24] sbembenek18 commented on #140
I am running the command as (per the attached file) -->

similarity --format dx --scalar1 ref_mol_pymol-generated_65.dx --scalar2 ref_mol_pymol-generated_65.dx

(Just a quick check against itself.) When the grid is 65 it gives a segmentation fault (see attached output.txt), but runs fine when the grid is remade to be 33. I had a similar experience with other molecules where lowering the grid size

[2022-06-05 14:59] sobolevnrm commented on #214
The APBS output above indicated that these maps had been written out, so this looks like a problem with the APBS_membrane code.

[2022-06-05 14:59] #214 closed

[2022-06-16 22:43] sbembenek18 commented on #140
Quick follow up in this: we're you able to re-produce the error?

[2022-06-16 22:49] sobolevnrm commented on #140
I have not had time to try; sorry.  I am also not sure when I will have time to try.  I am keeping this issue open in the hope that I will get time in the future but the similarity tool has never been a key feature of the code and, as such, this has lower priority than other issues.

[2022-06-16 23:24] sbembenek18 commented on #140
OK. Thanks.

[2022-06-20 01:23] lwwilson1 commented on #162
I see this is an old issue, but--not sure if I've mentioned this before, but the version of TABI-PB (the BEM) that's currently in APBS can actually be compiled to run on a single NVIDIA GPU; it's just a matter of setting a cmake flag and having the NVIDIA HPC SDK installed. I've never tried to compile/ use it through APBS, though, but in principal it should be fairly straightforward to do so

[2022-06-20 01:25] lwwilson1 commented on #162
One more thing--there's also a cmake flag to compile TABI-PB with OpenMP support instead. Support is only for a single compute node, however--no MPI.

[2022-06-20 01:49] lwwilson1 commented on #218
Small additional note on this: I unsurprisingly run into the same error when building on Mac. Just a simple  `brew install suitesparse` to get the UMFPACK libraries is needed and then everything builds without issue.

[2022-07-13 14:57] christos-efthymiou opened #238 "The application was unable to start correctly (0xc000007b)"
I am trying to use the CaFE Plugin for VMD to calculate the free binding energy for a protein-protein complex. One of the prerequisites for the plugin is APBS. I am running a Windows 10 computer and have downloaded the .zip file for APBS-3.4.1. I extract the contents of the .zip file and then go to bin and double click on the apbs.exe file. When I do this, I immediately get the error "The applicat

[2022-07-15 08:18] 280239480 opened #239 "apbs-1.3 sourcecode"
hi.i'm using Makefile-apbs to build tinker-8.10.2,which required apbs-1.3.0,but i can't get the sourcecode of apbs-1.3 in release version.I believe that was deleted recently.And when I compile apbs@latest (eg:1.5.0),it produced unexpected static library ,such as libapbs_generic.a  libapbs_mg.a  libapbs_pmgc.a  libapbs_routines.a  libmaloc.a,instead of libapbsmainroutines.a, libapbs.a, libmaloc.a a

[2022-07-18 13:24] nmelotlunarc opened #240 "EasyBuild-compiled apbs seg faults on Centos 7.9"
Hi,

I wrote an [easybuild 4.5.5](https://easybuild.io/) easyconfig file ([APBS-3.4.1-foss-2020b.eb](https://github.com/Electrostatics/apbs/files/9132058/APBS-3.4.1-foss-2020b.eb.txt)) for APBS. The compilation works with no problem. When trying to run the `apbs` binary file generated, I get a flat out `segmentation fault` with no other indication on what the issue can be.

Without Easybuild, I co

[2022-07-22 07:52] jmourino commented on #240
I have the same problem with and without easybuild.
Have you solved the error?

[2022-07-22 08:04] nmelotlunarc commented on #240
I did not try since this post. Hopefully someone has an idea. Beside using a debugger, I have no idea on how to identify the issue.

[2022-07-22 08:46] jmourino commented on #240
The version 3.4.0 works for me.

[2022-07-22 10:21] Shingzzz opened #241 "make fail"
**Describe the bug**
Hello! I try to install apbs-v1.5 on linux by source code, but I cann\`t find the installation instructions of v1.5. So, I try to install apbs like this:

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/43072501/180406976-f144bb14-d5d3-4787-bd37-13e022c411de.png)
It\`s a common error. But this error d

[2022-07-22 13:05] sobolevnrm commented on #241
The latest version of APBS is [3.4.1](https://github.com/Electrostatics/apbs/releases/tag/v3.4.1).  Please try that instead.  Unfortunately, we do not have the bandwidth to troubleshoot compilation errors on old versions.

[2022-07-22 13:05] #241 closed

[2022-07-22 14:06] Shingzzz commented on #241
Thank you anyway, there is a learning assignment that I must install apbs-v1.5 by sourcecode,I will go to find another way by myself.

[2022-07-22 14:07] Shingzzz commented on #241
Thank you anyway, there is a learning assignment that I must install apbs-v1.5 by sourcecode,I will go to find another way by myself.

[2022-07-26 09:49] nmelotlunarc commented on #240
Worked for me too. I have to run cmake with the flag -DPYTHON_MAX_VERSION="`echo "import platform; print platform.python_version()" | python`" or the configuration step would fail.

[2022-08-06 23:04] sobolevnrm opened #242 "Docker build fails"
[code]

[2022-08-06 23:24] sobolevnrm commented on #242
Not surprisingly, this happens for both the CentOS and Ubuntu Docker builds.

[2022-08-07 15:33] sobolevnrm commented on #240
It looks like this is working for others and EasyBuild is not something we formally support for this code.  Therefore, I am going to close this issue.  Thanks.

[2022-08-07 15:33] #240 closed

[2022-09-14 08:54] Shingzzz opened #243 "cmake error , please help me"
**Describe the bug**
hello guys, I would like to install apbs 3.4.1 from source code , but I met a lot of errors , I try to solve a little of them , such as dependencies and environmental path . There is a error that I think I can`t solve.
[code]
 do I have to use python3.6 ? I can`t change the python version casually .

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Context**
[code]

[2022-09-14 11:41] sobolevnrm commented on #243
Thank you for the detailed report.  What operating system is this?

[2022-09-14 11:51] Shingzzz commented on #243
NAME="openEuler"
VERSION="20.03 (LTS-SP3)"
ID="openEuler"
VERSION_ID="20.03"
PRETTY_NAME="openEuler 20.03 (LTS-SP3)"
ANSI_COLOR="0;31"

Linux version 4.19.90-2112.8.0.0131.oe1.aarch64

[2022-09-16 08:38] Shingzzz commented on #243
hello , I try to install python3.6 , but there is a new problem:
[code]
It seems that I should install python3.6-devel , but I can only install python3.7-devel in this operating system , can I change the python version need for apbs ? and how to change ? please help me , thanks a lot .

[2022-09-25 15:43] zerpiko opened #244 "version 1.4.1"
Hi,
I'm trying to find APBS v1.4.1 since this seem to be the last version with OpenMP enabled by default (see issue #7), please tell me if this assumption is incorrect.
I have tried building from source but ran into multiple dependency issues (suitesparse, superlu,mpfr, gmp) so rather than spending more time in a wild goose chase I thought of trying an older version but it doesn't seem to be avail

[2022-09-26 01:32] alexreg commented on #243
I got this issue too, except on macOS. The problem seems to be the `EXACT` parameter in the calls to `find_package(Python3 ${PYTHON_VERSION} EXACT ...`, which appear in the files `CMakeLists.txt`, `tests/CMakeLists.txt`, and `tools/python/CMakeLists.txt`. Removing the `EXACT` means it will find Python 3.6 *or later*, and the build seems to then succeed.

[2022-09-27 03:18] sobolevnrm opened #245 "Mac OS X makes static linking difficult"
Unfortunately, this still seems to be an issue in the 3.4.1 release.

[code]

Incidentally, I also needed to pass `-DBLA_VENDOR=OpenBLAS -DCMAKE_C_FLAGS=-fopenmp` to CMake to get it this far, as well as making sure OpenMP is installed (despite `-DENABLE_OPENMP=OFF`).

_Originally posted by @alexreg in https://github.com/Electrostatics/apbs/issues/217#issuecomment-1258874446_

[2022-09-27 03:19] sobolevnrm commented on #245
I do not own a Mac.  Is anyone able to help with this issue?

Thank you!

[2022-09-27 03:25] alexreg commented on #245
@sobolevnrm Thanks. Happy to test for you, if you want to suggest things or push potential fixes to a branch.

[2022-09-27 08:52] Shingzzz commented on #243
thank you very much ! I solve this problem by your solution !

[2022-09-27 08:53] srihas29 opened #246 "Atom potentials"
Hello APBS developers,

I would like to point out two bugs that I came across. I was testing it on a simple molecule ALA-ASP-ASP-ALA to write out the atom potentials using focusing.

1. During focusing it writes out really high potentials around e+18 for atoms which are close to the grid but slightly outside, ideally it should write zero.
2. I have observed quite a jump in the potential values goi

[2022-09-27 13:39] sobolevnrm commented on #243
Thank you, @alexreg !

[2022-09-28 13:52] Shingzzz commented on #243
I install apbs successfully , but when I run `ctest -C Release --output-on-failure` ，there are some mistakes:
[code]
There are some information：
[code]
I have not modified  `apbs/examples`  file .
And when I run ` /usr/local/apbs/bin/tabipb 451c_order1.in `
the result:
`Segmentation fault (core dumped)`

[2022-10-03 08:33] xiaopangjun666 commented on #243
Excuse me，how did you install UMFPACK? I can't find the UMFPACK package with error when installing

[2022-10-03 09:05] Shingzzz commented on #243
you can install intel blas or suitesparse (and its devel) , and vim `/etc/profile` set `LD_LIBRARY_PATH=(your install path):$LD_LIBRARY_PATH`

[2022-10-04 01:53] xiaopangjun666 commented on #243
Thank you very much！I find suitesparse in /usr/lib64 and set the LD_LIBRARY_PATH=/usr/lib64/:$LD_LIBRARY_PATH,but error when i try cmake again.could you tell me the reason,please
![image](https://user-images.githubusercontent.com/48478201/193717625-4da37782-6e86-4f33-9f82-a77674504fad.png)

[2022-10-04 04:16] Shingzzz commented on #243
did you `source /etc/profile` ? or , you can try to install suitesparse-devel and try to cmake again .
and you can echo $LD_LIBRARY_PATH , be sure that `/usr/lib64` in it.

[2022-10-04 20:06] yuntaoyang opened #247 "munmap_chunk(): invalid pointer"
Hi APBS developers,

**Describe the bug**
I ran APBS using a PDB file for a protein complex. But APBS was aborted and got the following error message. How to fix this issue?

**log file**
This executable compiled on May 30 2019 at 19:36:46
Parsing input file Myo1_Myo1.in...
rank 0 size 1...
read
Parsed input file.
Got paths for 1 molecules
Reading PQR-format atom data from Myo1_Myo1.pqr.
  63126 a

[2022-10-05 14:04] sobolevnrm commented on #247
Hello --

How much memory does the server have?

Thank you

[2022-10-05 14:07] yuntaoyang commented on #247
Hi Nathan,

The total memory is about 6000 GB. The available memory was about 3000 GB when I ran the program.

Best,
Yuntao

[2022-10-11 08:35] StefanGIT commented on #191
Hi Nathan,

in case somebody is interested, we have a basic (no MPI etc) spack config now (attached), together with pdb2pqr and propka.

Best,

Stefan

Molecular and Cellular Modeling Group (MCM)
HITS gGmbH
Schloss-Wolfsbrunnenweg 35
69118 Heidelberg
Germany

phone: +49 - 6221 - 533 279
fax: +49 6221 533298
email: ***@***.***
http://www.h-its.org
_________________________________________________
A

[2022-10-11 09:14] xiaopangjun666 opened #248 "error: ld returned 1 exit status"
I installed libsuitesparse-dev and libopenblas-serial-dev,then installed python3.6,but error:
![image](https://user-images.githubusercontent.com/48478201/195049243-32fb8904-0cc4-465e-aabb-51f9c0a568dd.png)
could you help me?please @jlec

[2022-10-11 09:15] jlec commented on #248
Sorry @xiaopangjun666 i am not maintaining any gentoo packages at this time.

[2022-10-11 14:17] sobolevnrm commented on #191
Thank you very much @StefanGIT -- was there an attachment to your post?  I can't find it.

[2022-10-11 14:18] sobolevnrm commented on #248
It looks like you're missing the METIS package.  We used to be able to retrieve this automatically from the Karypis group website but it looks like they may have removed the software.

[2022-10-11 14:39] StefanGIT commented on #191
Ah, ok, the attachment  was missing. Should be there now.
[apbs-pdb2pqr-spack-config.zip](https://github.com/Electrostatics/apbs/files/9757116/apbs-pdb2pqr-spack-config.zip)

[2022-10-12 06:13] xiaopangjun666 commented on #248
How to solve this problem？

[2022-10-14 06:03] #248 closed

[2022-10-14 06:07] xiaopangjun666 opened #249 "apbs-1.3 on arm"
Apbs-1.3 is currently being installed. It has been successfully installed under x86, but the build cannot be identified under arm. How to design this parameter?Thank you very much!  @uberFoo
./configure --with-python=/usr/bin/python2.7 CC=clang CXX=clang++ F77=flang --host=arm-linux- --build=arm-linux --prefix=/path/to/apbs
![image](https://user-images.githubusercontent.com/48478201/195775082-2816

[2022-10-14 08:33] #249 closed

[2022-10-15 19:15] sobolevnrm opened #250 "Remove ChangeLog.md"
The file https://github.com/Electrostatics/apbs/blob/main/docs/ChangeLog.md has been superseded by https://github.com/Electrostatics/apbs/blob/main/docs/releases.rst.  The `ChangeLog.md` file should be removed.

[2022-10-15 20:59] #250 closed

[2022-10-15 21:05] #191 closed

[2022-10-16 14:02] sobolevnrm commented on #253
All of PDB2PQR is now compatible with Python 3.

[2022-10-16 14:02] #253 closed

[2022-11-15 14:10] #243 closed

[2022-11-16 16:23] cyril-schroeder-ox opened #255 "APBS image only white"
**Describe the bug**
Using the APBS web server.
The produced molecular image is perfectly white, as opposed to blue-white-red - which is unexpected for this particular molecule as it contains charged residues. (PDB: 2L3I) Potentially relevant: the peptide contains a disulphide-bridged loop.

**To Reproduce**
Steps to reproduce the behavior:
On webserver:
- Load molecule into PDB2PQR tool and run j

[2022-11-19 23:00] sobolevnrm commented on #255
Hello --

2L3I worked when I tried it:

![image](https://user-images.githubusercontent.com/1933272/202874826-dffe8504-519a-4c84-80d4-1d2dbe9c7680.png)

Please see the calculation results at <https://server.poissonboltzmann.org/jobstatus?jobtype=apbs&jobid=sruto929gi&date=2022-11-19>.

I have encountered situations previously when the 3Dmol visualization browser window fails to retrieve the potenti

[2022-11-19 23:00] #255 closed

[2022-11-24 12:29] supernovaZhangJiaXing opened #256 "Error: 0xc000007b on win10 of apbs 3.4.1 (and maybe ^3.3.0)"
**Discription:**
The apbs program does not display messages when running in command:
[code]

If directly double-click the apbs.exe program, the program displayes the error message 0xc000007b.

**Desktop:**
 - OS: Windows 10
 - Environment: cmd and git bash
 - Version 3.4.1

**Additional context**
By the way,  where is the json format instruction of apbs input? I can only find traditional formats o

[2022-11-24 16:00] sobolevnrm commented on #256
Can you please try running the program in Powershell or a standard command prompt rather than Git Bash and let me know if you encounter the same error?

The JSON documentation exists, it just isn't very good.  [This section of the manual](https://apbs.readthedocs.io/en/latest/using/input/new/index.html) provides an overview of the keys and values expected in JSON- or YAML-format input.  Sorry we d

[2022-11-24 16:00] sobolevnrm opened #257 "Provide better examples and documentation for JSON and YAML input"
The JSON documentation exists, it just isn't very good.  [This section of the manual](https://apbs.readthedocs.io/en/latest/using/input/new/index.html) provides an overview of the keys and values expected in JSON- or YAML-format input.  Sorry we don't have more direct examples -- I'll create an issue to generate these in the future.

_Originally posted by @sobolevnrm in https://github.com/Electros

[2022-11-25 03:56] supernovaZhangJiaXing commented on #256
Sure. I have tried to run apbs in Powershell and command prompt, and it also did not give any output. I have checked the task manager and did not see redundant process. My junior fellow apprentice tried to run `apbs.exe` in his command prompt on Windows 11, and also got the 0xc000007b error message. Seems that we both lack some basic libs that the pre-compiled apbs need.
Thank you for the document

[2022-11-25 07:09] supernovaZhangJiaXing commented on #256
By the way, is it currently possible to pass json file to apbs as input file? I tried to write a sample but got "undefined keyword" error.

[2022-11-25 16:59] sobolevnrm commented on #256
Let's just address one problem at a time in this issue.  I'll add your other question about JSON to #257 .

[2022-11-25 16:59] sobolevnrm commented on #257
These examples should include specific invocation instructions per https://github.com/Electrostatics/apbs/issues/256#issuecomment-1327095557.

[2022-11-25 17:32] sobolevnrm commented on #256
When I try to run APBS 3.4.1 from Powershell on Win 11, I receive no error--it simply doesn't work.  When I try to run it from the Command Prompt, I get the following pop-up window error:

![image](https://user-images.githubusercontent.com/1933272/204033720-9f9b9e20-55a2-404b-8380-8a478d0aa2ab.png)

[2022-11-26 10:29] supernovaZhangJiaXing commented on #256
We all have python 3.9 on our computers.

[2022-11-28 00:03] sobolevnrm opened #258 "Distribute apbs image via Docker Hub"
Some OS-specific problems are difficult to fix due to lack of access to variations in operating systems, hardware, etc.  Distributing a Docker image will help provide users a workaround while we try to address these issues.

Requires fix to #242.

[2022-11-28 00:04] sobolevnrm commented on #258
Include https://github.com/Electrostatics/pdb2pqr for fun.

[2022-11-28 00:26] sobolevnrm opened #259 "Update APBS Ubuntu Docker image"
- [x] Fix #261
- [ ] Increase Ubuntu release to 22.04

[2022-11-28 00:41] sobolevnrm commented on #242
This appears to be a temporary issue; it is now working.

[2022-11-28 00:41] #242 closed